@use "../abstracts" as *;

.accordion-item {
  text-align: left;
  border-top: 0;
  border-bottom: 1px solid $line-gray-60;
  background-color: $bg-white;

  &:first-child {
    border-top: 1px solid $line-gray-900;
  }
}
.accordion-header {
  position: relative;
  display: block;
  width: 100%;
  padding: var(--space-24) var(--space-32) var(--space-24) 0;
  text-align: left;
  line-height: 150%;

  @include respond-sm {
    padding: var(--space-20) var(--space-32) var(--space-20) 0;
  }
}
.accordion-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.accordion-btn span {
  @include visually-hidden;
}
.accordion-btn::before,
.accordion-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 13px;
  height: 2px;
  background-color: $line-gray-900;
  transform: rotate(90deg) scale(0.9);
  transition: transform $trans-time-short ease;
}
.accordion-btn::after {
  transform: rotate(0deg) scale(0.9);
}
.accordion-btn[aria-expanded="true"]::before {
  transform: rotate(0deg) scale(0.9);
}
.accordion-panel {
  overflow: hidden;
}
.accordion-cont {
  @include font-token($font-body-1);

  // 아코디언 내부 16px 고정 위해 bullet-list() 내부 고정값 상쇄
  [class^="list-"] > li {
    @include font-token($font-body-1);

    @include respond-sm {
      @include font-token($font-body-1);
    }
  }

  padding: var(--space-32) var(--space-40) var(--space-40);
  display: flex;
  flex-direction: column;
  gap: var(--space-20);
  background-color: var(--gray-20);
  color: $text-tertiary;

  @include respond-sm {
    padding: var(--space-24) var(--space-20) var(--space-40);
  }
}
