@use "../abstracts/" as *;

// _base.scss 수정 없이 확장성 있게 오버라이딩
.visual-wrap {
  position: relative;
  padding: var(--space-40) 0;
  margin: 0 0 var(--space-56);
}

.visual-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-8);
  max-width: $page-max-width;
  margin: 0 auto;
  .bg-text {
    display: inline-block;
    @include font-token($font-body-0-medi);
    border-radius: var(--radius-4);
    padding: 0 var(--space-4);
    min-height: 27px;
  }
  ._font-title-1 {
    margin: var(--space-12) 0 0;
    color: $text-primary;
  }
  .text {
    @include font-token($font-body-0-medi);
    color: $text-tertiary;
    margin: var(--space-20) 0 0;
    & + .list-ast {
      margin-top: var(--space-16);
      > li {
        @include font-token($font-body-2);
        color: $text-secondary;
      }
    }
  }    
  &::after {
    content: '';
    display: block;
    width: 600px;
    height: 280px;
  }
}  

// Tablet
@include respond-md {
  .visual-item {
    &::after {
      width: 300px;
      height: 140px;
    }
  }  
}

// Mobile
@include respond-sm {
  .visual-wrap {
    margin: 0 0 var(--space-40);
    padding: var(--space-32) 0;
  }

  .visual-item {   
    flex-direction: column;
    gap: var(--space-24);
    .text {
      br {
        display: none;
      }
    }
  }
}