@use "variables" as *;
@use "colors" as *;
@use "animation" as *;
@use "typography" as *;

@mixin respond-md {
  @media (max-width: calc($breakpoint-lg - 1px)) {
    @content;
  }
}

@mixin respond-sm {
  @media (max-width: calc($breakpoint-md - 1px)) {
    @content;
  }
}

@mixin visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px !important;
  padding: 0;
  clip: rect(0 0 0 0);
}

@mixin icon($name, $size: 24px, $color: currentColor) {
  width: $size;
  height: $size;
  background-color: $color;
  mask: url("#{$icon_url}/#{$name}.svg") no-repeat center center / contain;
  -webkit-mask: url("#{$icon_url}/#{$name}.svg") no-repeat center center /
    contain;
}

@mixin bullet-list($type: dot, $color: inherit) {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-12);

  > li {
    // @include font-token($font-body-1); // 귀속 제거 26.03.09

    position: relative;
    color: $color;
    display: block;
    padding-left: var(--space-12);

    &::before {
      position: absolute;
      left: 0;

      @if $type == star {
        content: "*";
        top: 0.81em;
        font-size: 1em;
        transform: translateY(-50%);
      } @else if $type == dash {
        content: "-";
        top: 0.69em;
        font-size: 1em;
        transform: translateY(-50%);
      } @else if $type == asterisk {
        content: "※";
        top: 0.03em;
        font-size: 1em;
      } @else {
        content: "";
        top: 0.69em;
        width: 3px;
        height: 3px;
        background-color: currentColor;
        border-radius: 100%;
        transform: translateY(-50%);
      }
    }

    > ul[class^="list-"]:first-child {
      margin-top: var(--space-4);
    }
  }

  strong {
    color: $text-warning;
    font-weight: 400;
  }
}

@mixin ellipsis($line, $height) {
  @if ($line == 1) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    max-height: $height;
  }
}
