@use "sass:map";

@mixin font-token($token) {
  $desktop: map.get($token, desktop);

  font-size: map.get($desktop, size);
  font-weight: map.get($desktop, weight);
  letter-spacing: map.get($desktop, letter-spacing);

  @if map.has-key($token, mobile) {
    $mobile: map.get($token, mobile);

    @media screen and (max-width: 767px) {
      font-size: map.get($mobile, size);
      font-weight: map.get($mobile, weight);
      letter-spacing: map.get($mobile, letter-spacing);
    }
  }
}

// =========================
// Body
// =========================

$font-body-0: (
  desktop: (
    size: 18px,
    weight: 400,
    letter-spacing: -0.72px,
  ),
);
$font-body-0-medi: (
  desktop: (
    size: 18px,
    weight: 500,
    letter-spacing: -0.72px,
  ),
);
$font-body-0-semi: (
  desktop: (
    size: 18px,
    weight: 600,
    letter-spacing: -0.72px,
  ),
);

$font-body-1: (
  desktop: (
    size: 16px,
    weight: 400,
    letter-spacing: -0.32px,
  ),
  mobile: (
    size: 16px,
    weight: 400,
    letter-spacing: -0.64px,
  ),
);
$font-body-1-medi: (
  desktop: (
    size: 16px,
    weight: 500,
    letter-spacing: -0.32px,
  ),
  mobile: (
    size: 16px,
    weight: 500,
    letter-spacing: -0.64px,
  ),
);
$font-body-1-semi: (
  desktop: (
    size: 16px,
    weight: 600,
    letter-spacing: -0.32px,
  ),
  mobile: (
    size: 16px,
    weight: 600,
    letter-spacing: -0.64px,
  ),
);

$font-body-2: (
  desktop: (
    size: 14px,
    weight: 400,
    letter-spacing: -0.56px,
  ),
  mobile: (
    size: 14px,
    weight: 400,
    letter-spacing: -0.56px,
  ),
);
$font-body-2-medi: (
  desktop: (
    size: 14px,
    weight: 500,
    letter-spacing: -0.56px,
  ),
  mobile: (
    size: 14px,
    weight: 500,
    letter-spacing: -0.56px,
  ),
);
$font-body-2-semi: (
  desktop: (
    size: 14px,
    weight: 600,
    letter-spacing: -0.56px,
  ),
  mobile: (
    size: 14px,
    weight: 600,
    letter-spacing: -0.56px,
  ),
);

$font-body-3: (
  desktop: (
    size: 12px,
    weight: 400,
    letter-spacing: -0.48px,
  ),
);
$font-body-3-medi: (
  desktop: (
    size: 12px,
    weight: 500,
    letter-spacing: -0.48px,
  ),
);
$font-body-3-semi: (
  desktop: (
    size: 12px,
    weight: 600,
    letter-spacing: -0.48px,
  ),
);

// =========================
// Caption
// =========================

$font-caption-1: (
  desktop: (
    size: 11px,
    weight: 400,
    letter-spacing: -0.44px,
  ),
  mobile: (
    size: 13px,
    weight: 400,
    letter-spacing: -0.52px,
  ),
);
$font-caption-1-medi: (
  desktop: (
    size: 11px,
    weight: 500,
    letter-spacing: -0.44px,
  ),
  mobile: (
    size: 13px,
    weight: 500,
    letter-spacing: -0.52px,
  ),
);
$font-caption-1-semi: (
  desktop: (
    size: 11px,
    weight: 600,
    letter-spacing: -0.44px,
  ),
  mobile: (
    size: 13px,
    weight: 600,
    letter-spacing: -0.52px,
  ),
);

$font-caption-2: (
  desktop: (
    size: 10px,
    weight: 400,
    letter-spacing: -0.4px,
  ),
  mobile: (
    size: 12px,
    weight: 400,
    letter-spacing: -0.48px,
  ),
);
$font-caption-2-medi: (
  desktop: (
    size: 10px,
    weight: 500,
    letter-spacing: -0.4px,
  ),
  mobile: (
    size: 12px,
    weight: 500,
    letter-spacing: -0.48px,
  ),
);
$font-caption-2-semi: (
  desktop: (
    size: 10px,
    weight: 600,
    letter-spacing: -0.4px,
  ),
  mobile: (
    size: 12px,
    weight: 600,
    letter-spacing: -0.48px,
  ),
);
