// =========================
// Breakpoint
// =========================

$breakpoint-lg: 1024px;
$breakpoint-md: 768px;

// =========================
// Dimensions`
// =========================

$page-max-width: 1200px;
$page-min-width: 360px;

// 네비게이션 바 높이
$nav-height-lg: 102px;
$nav-height-md: 56px;

// 페이지 좌우 여백
$page-side-lg: 20px;
$page-side-md: 24px;
$page-side-sm: 20px;

// 페이지 상하 여백
$page-top-lg: 64px;
$page-top-md: 50px;
$page-top-sm: 40px;
$page-bottom-lg: 100px;
$page-bottom-md: 100px;
$page-bottom-sm: 56px;

// 페이지 타이틀 하단 여백
$page-title-gap-lg: 48px;
$page-title-gap-md: 48px;
$page-title-gap-sm: 0px;

// =========================
// z-index
// =========================

$zindex-header: 1000;

// =========================
// URL
// =========================

$img_url: "/static/images";
$icon_url: "/static/images/icons";
