$breakpoint-lg: 1200px;
$breakpoint-md: 768px;
$breakpoint-sm: 360px;

$side-space-md: 24px;
$side-space-sm: 20px;

$nav-height-lg: 102px;
$nav-height-md: 56px;

$img_url: "/static/images";
$icon_url: "/guide/images/icons";
$icon_mc_url: "/static/images/icons";
