@use "../abstracts/" as *;

// =========================
// Atomic / Utility
// =========================

/* .w-full {
  width: 100%;
}

.h-full {
  height: 100%;
} */

// =========================
// Semantic
// =========================

.hidden {
  @include visually-hidden;
}

// Bullet List
.list-noti {
  @include bullet-list();
}

.list-ref {
  @include bullet-list($type: star);
}

.list-dash {
  @include bullet-list($type: dash, $gap: 6px);
}

.warning-box {
  padding: 20px;
  border-radius: var(--radius-16);
  background-color: var(--gray-40);

  .warning-title {
    display: flex;
    align-items: center;
    color: $text-tertiary;

    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      margin: 2px 4px 2px 2px;
      background: url(#{$icon_url}/alert-circle.svg) no-repeat center center /
        contain;
    }
  }

  .list-noti {
    margin-top: 12px;
    gap: 6px;
    margin-top: 12px;
    gap: 6px;

    li {
      color: $text-tertiary;

      &::before {
        width: 3px;
        height: 3px;
        top: 9px;
        transform: none;
        background-color: $text-tertiary;
      }

      strong {
        color: $text-warning;
        font-weight: 400;
      }
    }
  }
}

.noData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  padding: 100px 0;
  p {
    font-size: 16px;
    line-height: 1.5;
    color: $text-tertiary;
    text-align: center;
    &:before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto 20px;
      background: url(#{$img_url}/common/ico_nodata.png) no-repeat 50% 50% /
        100% auto;
    }
  }
  .btnArea {
    margin-top: 20px;
  }
}
