@use "../abstracts/" as *;

// =========================
// Atomic / Utility
// =========================

/* .w-full {
  width: 100%;
}

.h-full {
  height: 100%;
} */

// =========================
// Semantic
// =========================

.hidden {
  @include visually-hidden;
}

// Pseudo-Class Icon
$icon-class-list: (download, chevron-right, external-link, edit);

@each $icon-name in $icon-class-list {
  .ico-#{$icon-name}::after {
    content: "";
    display: inline-block;
    @include icon($icon-name, 1em);
  }
}

// Bullet List
.list-noti {
  @include bullet-list();
}

.list-ref {
  @include bullet-list($type: star);
}

.list-dash {
  @include bullet-list($type: dash);
}

.list-dash,
.list-ref,
.list-noti {
  > li > [class^="list-"] {
    gap: 6px;

    &:first-child {
      margin-top: 4px;
    }
  }
}

.warning-box {
  padding: var(--space-16) var(--space-20);
  border-radius: var(--radius-16);
  background-color: var(--gray-20);

  .warning-title {
    @include font-token($font-body-1-semi);
    display: flex;
    align-items: center;
    color: $text-tertiary;

    @include respond-sm {
      @include font-token($font-body-2-semi);
    }

    &::before {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      margin: 2px 4px 2px 2px;
      background: url(#{$icon_url}/alert-circle.svg) no-repeat center center /
        contain;
      flex-shrink: 0;
      align-self: flex-start;
      margin-top: 0.2em;
      font-size: 1em;
    }
  }

  .list-noti {
    margin-top: var(--space-12);
    gap: var(--space-6);

    li {
      @include font-token($font-body-1);
      color: $text-tertiary;

      @include respond-sm {
        @include font-token($font-body-2);
      }

      &::before {
        width: 3px;
        height: 3px;
        top: 9px;
        transform: none;
        background-color: $text-tertiary;
      }

      strong {
        color: $text-warning;
        font-weight: 400;
      }
    }
  }
}

.noData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  padding: 100px 0;
  p {
    font-size: 16px;
    line-height: 1.5;
    color: $text-tertiary;
    text-align: center;
    &:before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto 20px;
      background: url(#{$img_url}/common/ico_nodata.png) no-repeat 50% 50% /
        100% auto;
    }
  }
  .btnArea {
    margin-top: 20px;
  }
}
