@use "../abstracts/" as *;

// =========================
// Atomic / Utility
// =========================

/* .w-full {
  width: 100%;
}

.h-full {
  height: 100%;
} */

// =========================
// Semantic
// =========================

.hidden {
  @include visually-hidden;
}

// only mobile invisible
.mo-invisible {
  display: block;

  @include respond-sm {
    display: none;
  }
}

// only mobile visible
.mo-visible {
  display: none;

  @include respond-sm {
    display: block;
  }
}

// Pseudo-Class Icon
$icon-class-list: (download, chevron-right, external-link, edit);

@each $icon-name in $icon-class-list {
  .ico-#{$icon-name}::after {
    content: "";
    display: inline-block;
    @include icon($icon-name, 1em);
  }

  .ico-#{$icon-name}--before::before {
    content: "";
    display: inline-block;
    @include icon($icon-name, 1em);
  }
}

// anchor tag with icon
a[class*="ico-"] {
  text-decoration: underline;

  &::before,
  &::after {
    vertical-align: middle;
    -webkit-mask-position-y: -0.1rem;
  }

  &::after {
    margin-left: var(--space-2);
  }

  &::before {
    margin-right: var(--space-2);
  }
}

// Bullet List
.list-noti {
  @include bullet-list();
}

.list-ref {
  @include bullet-list($type: star);
}

.list-dash {
  @include bullet-list($type: dash);
}

.list-ast {
  @include bullet-list($type: asterisk);
}

.list-dash,
.list-ref,
.list-noti,
.list-ast {
  > li > [class^="list-"] {
    gap: var(--space-4);

    &:first-child {
      margin-top: var(--space-6);
    }
  }
  .text-point600 {
    color: var(--point-600);
  }
}

// definition list
[class*="def-"] {
  > * {
    &:not(:first-child) {
      margin-top: var(--space-12);
    }
  }

  dl {
    display: flex;
    gap: var(--space-12);

    > dt {
      align-self: flex-start;
    }

    > dd {
      text-align: right;
    }
  }
}
[class^="_modal"][class*="-popup"][class*="_type-tooltip"] .def-cols-auto,
.def-cols-auto {
  overflow: hidden;

  dl {
    flex-wrap: nowrap;

    > dt {
      flex-shrink: 0;
    }

    > * {
      flex: auto;
    }
  }
}
// dt과 dd가 크기 1:1 대응하는 경우
[class^="_modal"][class*="-popup"][class*="_type-tooltip"] .def-cols-2,
.def-cols-2 {
  dl {
    flex-wrap: nowrap;

    > * {
      flex: 50%;
    }
  }
}

.warning-box {
  padding: var(--space-16) var(--space-20);
  border-radius: var(--radius-16);
  background-color: var(--gray-20);

  .warning-title {
    @include font-token($font-body-1-semi);
    display: flex;
    align-items: center;
    color: $text-tertiary;

    // font 14 -> 16 되며 주석처리 - 추후 완전 제거
    /* @include respond-sm {
      @include font-token($font-body-2-semi);
    } */

    &::before {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      margin: 2px 4px 2px 2px;
      background: url(#{$icon_url}/alert-circle.svg) no-repeat center center /
        contain;
      flex-shrink: 0;
      align-self: flex-start;
      margin-top: 0.2em;
      font-size: 1em;
    }
  }

  .list-noti {
    margin-top: var(--space-12);
    gap: var(--space-6);

    li {
      // font 14 -> 16 되며 주석처리 - 추후 완전 제거
      // @include font-token($font-body-1);
      color: $text-tertiary;

      &::before {
        width: 3px;
        height: 3px;
        top: 9px;
        transform: none;
        background-color: $text-tertiary;
      }
    }
  }
}

.noData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  padding: 100px 0;
  p {
    font-size: 16px;
    line-height: 1.5;
    color: $text-tertiary;
    text-align: center;
    &:before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto 20px;
      background: url(#{$img_url}/common/ico_nodata.png) no-repeat 50% 50% /
        100% auto;
    }
  }
  .btnArea {
    margin-top: 20px;
  }
}

// 약관 가이드
[class^="_modal"][class*="-popup"] {
  .popup-content {
    .list#title {
      @include font-token($font-body-0-semi);
      color: $text-secondary;
      margin-bottom: var(--space-12);
    }
  }
  .agreementBox {
    .inner {
      width: auto;
      min-width: auto;
      max-width: none;
      padding: 0;
      #terms_box {
        display: flex;
        flex-direction: column;
        gap: var(--space-12);
        .top {
          @include font-token($font-body-1);
          color: $text-tertiary;
        }
        dl {
          display: flex;
          flex-direction: column;
          gap: var(--space-6);
          dt {
            @include font-token($font-body-1-semi);
            color: $text-tertiary;
          }
          dd {
            @include font-token($font-body-1);
            color: $text-tertiary;
            ul {
              display: flex;
              flex-direction: column;
              gap: var(--space-4);
            }
          }
          .dep2 {
            margin: var(--space-6) 0 var(--space-6) var(--space-16);
          }
        }
      }
    }
  }
}
