@use "../abstracts" as *;

.visual-wrap {
  background-color: $bg-gray-40;
  .visual-item {
    .bg-text {
      background-color: $bg-white;
      color: $text-point;
    }
  }
}

.cpmp-service {
  &::after {
    background: url(#{$img_url}/bs/bg_visual_cpmp.png) no-repeat 0 0 / auto 100%;
  }
}

.bs-intro-guide {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--space-56);
  padding-bottom: var(--space-56);
  .guide-item {
    .inner {
      display: flex;
      justify-content: space-between;
      > .text-area {
        display: flex;
        flex-direction: column;
        gap: var(--space-8);
        min-width: 270px;
        .text {
          @include font-token($font-body-0);
          color: $text-quaternary;
        }
      }
    }
    
    .item-wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--space-16);
      flex-basis: 832px;
      &.full-image, &.application, &.lawandgood {
        grid-template-columns: none;
      }
      &.full-image {
        .item {
          padding: 0;
          &::after {
            display: none;
          }
        }
      }
      .item {
        display: flex;
        flex-direction: column;
        gap: var(--space-16) 0;
        border-radius: var(--radius-16);
        background: $bg-gray-20;
        padding: var(--space-48);
        > .text-area {
          display: flex;
          flex-direction: column;
          gap: var(--space-20) 0;
          ._font-title-3 {
            color: var(--gray-700);
          }
          .text {
            color: $text-tertiary;
            @include font-token($font-body-1-medi);
            strong {
              color: $text-primary;
            }
          }
        }
        .img-area {
          text-align: center;
        }
        &::after {
          content: '';
          display: block;
          width: 80px;
          height: 80px;
          margin: auto 0 0 auto;
          background-repeat: no-repeat;
          background-position: 0 0 ;
          background-size: 100% auto;
        }
      }
      &.report {
        .item {
          &:nth-child(1)::after {
            background-image: url(#{$img_url}/bs/ico_report01.png);
          }
          &:nth-child(2)::after {
            background-image: url(#{$img_url}/bs/ico_report02.png);
          }
          &:nth-child(3)::after {
            background-image: url(#{$img_url}/bs/ico_report03.png);
          }
          &:nth-child(4)::after {
            background-image: url(#{$img_url}/bs/ico_report04.png);
          }
          &:nth-child(5)::after {
            background-image: url(#{$img_url}/bs/ico_report05.png);
          }
        }
      }
      &.lawandgood {
        grid-template-columns: none;
        .item {
          &::after {
            width: 320px;
            height: 180px;
            background-image: url(#{$img_url}/bs/ico_lawandgood.png);
          }
        }        
      }
      &.application {
        .item {
          flex-direction: row;
          padding-bottom: 0;
          &::after {
            width: 344px;
            height: 280px;
          }
          &:nth-child(1)::after {
            background-image: url(#{$img_url}/bs/img_application01.png);
          }
          &:nth-child(2)::after {
            background-image: url(#{$img_url}/bs/img_application02.png);
          }
          &:nth-child(3)::after {
            background-image: url(#{$img_url}/bs/img_application03.png);
          }
        }        
      }

    }
  }
}

.full-bg {
  background-color: $bg-gray-40;
  max-width: none !important;
  .contents {
    max-width: $page-max-width;
    margin: var(--space-48) auto var(--space-100);
  }
}

.cardlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-40) var(--space-16);
  > .item {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    background-color: $bg-white;
    border-radius: var(--space-24);
    padding: var(--space-24);
    .top {
      display: flex;
      justify-content: space-between;
      > .title {
        > strong {
          display: flex;
          gap: var(--space-12);
          align-items: center;
          @include font-token($font-body-2);
          color: $text-quaternary;
          &::before {
            content: '';
            display: block;
            width: var(--space-40);
            height: var(--space-40);
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 100% auto;
          } 
          &.bc {
            &::before {
              background-image: url(#{$img_url}/bs/ico_bank_logo_bc.png);
            }            
          }
          &.hana {
            &::before {
              background-image: url(#{$img_url}/bs/ico_bank_logo_hana.png);
            }            
          }
          &.ibk {
            &::before {
              background-image: url(#{$img_url}/bs/ico_bank_logo_ibk.png);
            }            
          }
          &.nh {
            &::before {
              background-image: url(#{$img_url}/bs/ico_bank_logo_nh.png);
            }            
          }
          &.bnk {
            &::before {
              background-image: url(#{$img_url}/bs/ico_bank_logo_bnk.png);
            }            
          }
          &.sh {
            &::before {
              background-image: url(#{$img_url}/bs/ico_bank_logo_sh.png);
            }            
          }
        }
      }
      > .brand {
        display: flex;
        gap: var(--space-4);
        > span {
          display: inline-block;
          position: relative;
          font-size: 1px;
          width: 28px;
          height: 28px;
          &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;            
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 100% auto;
            background-color: $bg-white;
            z-index: 1;
          }
          &.bc {
            &::before {
              background-image: url(#{$img_url}/bs/ico_brand_logo_bc.png);
            }
          }
          &.master {
            &::before {
              background-image: url(#{$img_url}/bs/ico_brand_logo_master.png);
            }
          }
          &.union {
            &::before {
              background-image: url(#{$img_url}/bs/ico_brand_logo_union.png);
            }
          }
          &.visa {
            &::before {
              background-image: url(#{$img_url}/bs/ico_brand_logo_visa.png);
            }
          }
        }
      }
      
    }
    .img-area {
      text-align: center;
    }
    .middle {
      display:flex;
      flex-direction: column;
      gap: var(--space-16);
      > .text-area {
        display: flex;
        flex-direction: column;
        gap: var(--space-6);
        .text {
          @include font-token($font-body-1-medi);
          color: $text-tertiary;
        }
      }
      > .badge-area {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-8);
        [class^="_badge-small"] {
          @include font-token($font-body-2-medi);
        }
      }
    }
    .btn-wrap {
      margin-top: auto;
      padding-top: var(--space-8);
      ._btn-small-quaternery {
        pointer-events: none; 
      }
    }
  }
}


// Tablet
@include respond-md {
  .bs-intro-guide {
    padding-bottom: var(--space-40);
    gap: var(--space-40);
    .guide-item {
      .inner {
        flex-direction: column;
        gap: var(--space-24);
      }      
      .item-wrap {
        flex-basis: auto;
        gap: var(--space-12);
        .item {
          padding: var(--space-24);          
          > .text-area {
            gap: var(--space-8) 0;
          }
        }
      }
    }
  }

  .cardlist {
    grid-template-columns: repeat(2, 1fr);
    > .item {
      .btn-wrap {
        ._btn-small-quaternery {
          pointer-events: auto; 
        }
      }
    }    
  }
}

// Mobile
@include respond-sm {
  .bs-intro-guide {
    .guide-item {      
      .item-wrap {
        grid-template-columns: none;
        gap: var(--space-12);     
        &.full-image {
          .item {
            padding: 0 var(--space-20);
          }
        }   
        .item {
          gap: var(--space-20) 0;
          padding: var(--space-20);          
          > .text-area {
            gap: var(--space-8) 0;
          }
          &::after {
            width: 40px;
            height: 40px;
          }
        }
        &.lawandgood {
          .item {
            &::after {
              width: 120px;
              height: 120px;
              background-position: 50% 50%;
              background-size: auto 100%;
            }
          }        
        }
        &.application {
          .item {
            flex-direction: column;
            &::after {
              width: 280px;
              height: 280px;
              margin: 0 auto;
              background-position: 50% 50%;
              background-size: auto 100%;
            }
          }        
        }
      }
    }
  }

  .full-bg {
    .contents {
      margin: var(--space-24) auto var(--space-64);
    }
  }

  .cardlist {
    grid-template-columns: none;
    gap: var(--space-16);
    > .item {
      gap: var(--space-16);
      padding: var(--space-20);
      .btn-wrap {
        padding-top: var(--space-16);
        ._btn-small-quaternery {
          pointer-events: all; 
        }
      }
    }
  }
}
