@use "../abstracts" as *;

.merchant-loan-service {
  background-color: #ededff;
  .visual-item {
    &::after {
      background: url(#{$img_url}/fs/bg_visual_merchantloan.png) no-repeat 0 0 / auto 100%;
    }
    .bg-text {
      background-color: $bg-white;
      color: var(--point-800);
    }
  }
}

.merchant-loan-guide {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  padding-bottom: var(--space-32);
  margin-bottom: var(--space-48);
  border-bottom: 1px solid $line-gray-60;
  .guide-item {
    width: 100%;
    .inner {
      display: flex;
      justify-content: space-between;
      gap: var(--space-48);
      > .text-area {
        ._font-title-2 {
          > span {
            display: block;
            margin-bottom: var(--space-8);
            @include font-token($font-body-0-medi);
            color: $text-quaternary;
          }
        }
        .loan-infor {
          margin-top: var(--space-56);
          display: flex;
          flex-direction: column;
          gap: var(--space-20);
          .item {
            gap: var(--space-4);
          }
          .title {
            @include font-token($font-body-1-medi);
            color: $text-primary;
          }
          ._font-title-4 {
            color: var(--point-600);
          }
        }
      }
      .item-wrap {
        display: flex;
        flex-basis: 832px;
        max-width: 832px;
        flex-direction: column;
        gap: var(--space-16);
        .item {
          background-color: $bg-gray-20;
          border-radius: var(--radius-16);
          padding: var(--space-48);
          > .text-area {
            display: flex;
            flex-direction: column;
            gap: var(--space-12);
            .point-text {
              @include font-token($font-body-0-semi);
              color: var(--red-700);
            }
          }
          &::after {
            content: '';
            display: block;
            margin: var(--space-24) 0 0 auto;
            width: 292px;
            height: 180px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: auto 100%;
          }
          &:nth-child(1) {
            &::after {
              background-image: url(#{$img_url}/fs/img_merchantloan01.png);
            }
          }
          &:nth-child(2) {
            &::after {
              background-image: url(#{$img_url}/fs/img_merchantloan02.png);
            }
          }
          &:nth-child(3) {
            &::after {
              background-image: url(#{$img_url}/fs/img_merchantloan03.png);
            }
          }
        }
        .bg-item {
          background-color: $bg-gray-20;
          border-radius: var(--radius-16);
          padding: var(--space-48);
          .list-noti {
            gap: var(--space-6);
          }
          .list-ast {
            gap: var(--space-6);
            margin-top: var(--space-16);
            > li {
              color: var(--point-600);
            }
            + .list-noti {
              margin-top: var(--space-6);
            }
          }
          .list-noti {
            > .underline {
              text-decoration: underline;
            }
          }
          .text-right {
            @include font-token($font-body-1);
            margin-bottom: var(--space-24);
            text-align: right;
            margin-top: var(--space-12);
            color: $text-quaternary;
          }
        }
      }
    }
  }
}

.popup-content {
  .text-item {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    > .item {
      display: flex;
      flex-direction: column;
      gap: var(--space-8);
      .title {
        @include font-token($font-body-0-semi);
        color: $text-secondary;
      }
      .text {
        @include font-token($font-body-1);
        color: $text-secondary;
      }
    }
  }
  .qr-img {
    text-align: center;
    margin-bottom: var(--space-16);
  }
  .list-noti {
    gap: var(--space-8);
  }
  .warning-box {
    .list-noti {
      margin-top: 0;
    }
  }
}

// Tablet
@include respond-md {
  .merchant-loan-guide {
    gap: var(--space-40);
    .guide-item {
      .inner {
        flex-direction: column;
        gap: var(--space-24);
        > .text-area {
          ._font-title-2 {
            > span {
              margin-bottom: var(--space-4);
            }
          }

          .loan-infor {
            margin-top: var(--space-16);
            gap: var(--space-8);
            .item {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
        .item-wrap {
          flex-basis: auto;
          max-width: none;
          gap: var(--space-12);
          .item {
            padding: var(--space-24);
            > .text-area {
              gap: var(--space-4);
            }
            &::after {
              content: '';
              display: block;
              margin: var(--space-40) 0 0 auto;
              width: 120px;
              height: 120px;
            }
          }
          
          .bg-item {
            padding: var(--space-24);
          }
        }
      }
    }
  }
  
}

// Mobile
@include respond-sm {
  .merchant-loan-guide {
    padding-bottom: var(--space-40);
    margin-bottom: var(--space-40);
    .guide-item {
      .inner {
        .item-wrap {
          .bg-item {
            margin-top: -8px;
            ._table {
              > table {
                min-width: 560px;
              }
            }
            ._btn-wrap {
              flex-wrap: wrap;
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }

  .popup-content {
    .qr-img {
      margin-bottom: var(--space-8);
    }
    .list-noti {
      gap: var(--space-6);
    }
  }
}

