@use "../abstracts" as *;

.visual-wrap {
  background-color: #ededff;
  .visual-item {
    .bg-text {
      background-color: $bg-white;
      color: var(--point-800);
    }
  }
}

.merchant-loan-service {
  &::after {
    background: url(#{$img_url}/fs/bg_visual_merchantloan.png) no-repeat 0 0 / auto 100%;
  }
}

.fs-intro-guide {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  .guide-item {
    width: 100%;
    .text-area {
      min-width: 270px;
      ._font-title-2 {
        white-space: pre;
      }
    }
    .inner {
      display: flex;
      justify-content: space-between;
      gap: var(--space-48);
      > .text-area {
        ._font-title-2 {
          > span {
            display: block;
            margin-bottom: var(--space-8);
            @include font-token($font-body-0-medi);
            color: $text-quaternary;
          }
        }
        .loan-infor {
          margin-top: var(--space-56);
          display: flex;
          flex-direction: column;
          gap: var(--space-20);
          .item {
            gap: var(--space-4);
          }
          .title {
            @include font-token($font-body-1-medi);
            color: $text-primary;
          }
          ._font-title-4 {
            color: var(--point-600);
          }
        }
      }
      .item-wrap {
        display: flex;
        flex-basis: 832px;
        max-width: 832px;
        flex-direction: column;
        gap: var(--space-16);
        .item {
          background-color: $bg-gray-20;
          border-radius: var(--radius-16);
          padding: var(--space-48);
          > .text-area {
            display: flex;
            flex-direction: column;
            gap: var(--space-12);
            .point-text {
              @include font-token($font-body-0-semi);
              color: var(--red-700);
            }
            .text {
              @include font-token($font-body-1-medi);
              color: $text-tertiary;
            }
          }
          &::after {
            content: '';
            display: block;
            margin: var(--space-24) 0 0 auto;
            width: 292px;
            height: 180px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: auto 100%;
          }
          &:nth-child(1) {
            &::after {
              background-image: url(#{$img_url}/fs/img_merchantloan01.png);
            }
          }
          &:nth-child(2) {
            &::after {
              background-image: url(#{$img_url}/fs/img_merchantloan02.png);
            }
          }
          &:nth-child(3) {
            &::after {
              background-image: url(#{$img_url}/fs/img_merchantloan03.png);
            }
          }
        }

        &.interest-rate-cut {
          .item {
            &:nth-child(1) {
              &::after {
                background-image: url(#{$img_url}/fs/img_interestrate01.png);
              }
            }
            &:nth-child(2) {
              &::after {
                background-image: url(#{$img_url}/fs/img_interestrate02.png);
              }
            }
            &:nth-child(3) {
              &::after {
                background-image: url(#{$img_url}/fs/img_interestrate03.png);
              }
            }
          }
        }
        .bg-item {
          background-color: $bg-gray-20;
          border-radius: var(--radius-16);
          padding: var(--space-48);
          .list-noti {
            gap: var(--space-6);
          }
          .list-ast {
            gap: var(--space-6);
            margin-top: var(--space-16);
            > li {
              color: var(--point-600);
            }
            + .list-noti {
              margin-top: var(--space-6);
            }
          }
          .list-noti {
            > .underline {
              text-decoration: underline;
            }
          }
          .text-right {
            @include font-token($font-body-1);
            margin-bottom: var(--space-24);
            text-align: right;
            margin-top: var(--space-12);
            color: $text-quaternary;
          }
        }


      }
    }
    .list-noti {
      & + .text-noti {
        margin-top: var(--space-20);
      }
    }
    .text-noti {
      display: flex;
      flex-direction: column;
      gap: var(--space-20);
      dl {
        display: flex;
        flex-direction: column;
        gap: var(--space-12); 
        flex: 1;
        dt {
          @include font-token($font-body-0-semi);
          color: $text-secondary;
        }
        dd {
          @include font-token($font-body-1);
          color: $text-secondary;
        }
      }      
    }
  }
  + ._btn-wrap {
    margin-top: var(--space-56);
  }
}

.popup-content {
  .text-item {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
    > .item {
      display: flex;
      flex-direction: column;
      gap: var(--space-8);
      .title {
        @include font-token($font-body-0-semi);
        color: $text-secondary;
      }
      .text {
        @include font-token($font-body-1);
        color: $text-secondary;
      }
    }
  }
  .qr-img {
    text-align: center;
    margin-bottom: var(--space-16);
  }
  .list-noti {
    gap: var(--space-8);
  }
  .warning-box {
    .list-noti {
      margin-top: 0;
    }
  }
}

.dropdown-area {
  padding: var(--space-32) 0 var(--space-48);
  .label-title {
    display: block;
    @include font-token($font-body-2-medi);
    color: $text-secondary;    
    margin-bottom: var(--space-8);
  }
}

.full-bg {
  background-color: $bg-gray-40;
  max-width: none !important;
  // margin-bottom: -50px !important; //page 의 padding-bottom 숫자
  // .feedback-wrap {
  //   padding: 148px 0 200px; //디자인 상 숫자
  // }
  .contents {
    max-width: $page-max-width;
    margin: var(--space-48) auto var(--space-100);
  }
}

.loan-infor-area {
  background-color: $bg-white;
  border-radius: var(--radius-24);
  padding: var(--space-32) var(--space-40);
  ._font-title-4 {
    padding-bottom: var(--space-16);
    border-bottom: 1px solid $line-gray-60;
  }
  .item-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-32);
    padding-top: var(--space-24);
    .item {
      flex: 1;
      display: flex;
      justify-content: space-between;
      gap: var(--space-32);
      min-width: 547px;
      &:nth-child(2) {
        background-color: $bg-gray-20;
        border-radius: var(--radius-12);
        padding: var(--space-16);
        flex: auto;
        min-width: auto;
        .data-infor {
          dd {
            min-width: 140px;
          }
        }
      }
      .data-infor {
        flex: 1;
        display: flex;
        flex-direction: column;
        dt {
          @include font-token($font-body-1-medi);
          color: $text-quaternary;
          white-space: pre;
        }
        dd {
          @include font-token($font-body-0-medi);
          color: $text-secondary;
          white-space: pre;
        }
        ._font-title-1 {
          padding-top: var(--space-4);
        }
      }
    }
  }
}

.summary-area {
  display: flex;
  justify-content: space-between;
  gap: var(--space-16);
  padding-top: var(--space-56);
  ._font-title-2 {
    white-space: pre;
    span {
        display: block;
        margin-top: var(--space-8);
        @include font-token($font-body-0);
        color: $text-tertiary;
      }
  }
  .item-wrap{
    display: flex;
    flex-direction: column;
    flex-basis: 864px;
    gap: var(--space-16);
    .item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--space-20);      
      background-color: $bg-white;
      border-radius: var(--radius-20);
      padding: var(--space-32) var(--space-40);
      .data-infor {
        display: flex;
        flex-direction: column;
        gap: var(--space-8);
        dt {
          @include font-token($font-body-2-medi);
          color: $text-quaternary;
        }
        dd {
          @include font-token($font-body-1-semi);
          color: $text-primary;        
        }
      }
    }
  }  

  + ._btn-wrap {
    margin-top: var(--space-56);
  }
  
}

.loan-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-24);
  
  .loan-infor-area {
    flex: 1;
    min-width: 680px;
    .sub-item {
      flex: 1;
      display: flex;
      justify-content: space-between;
      gap: var(--space-32);
      background-color: $bg-gray-20;
      border-radius: var(--radius-12);
      padding: var(--space-16);
      margin-top: var(--space-8);
      .data-infor {
        flex: 1;
        display: flex;
        align-items: center;
        > * {
          flex: 1;
        }
        dt {
          @include font-token($font-body-2);
          color: $text-quaternary;
        }
        dd {
          @include font-token($font-body-0-medi);
          color: $text-secondary;
        }
      }
    }
  }
  .search-area {
    flex: 1;
    // flex-basis: 496px;
    // min-width: 496px;
  }
}

.search-area {
  background-color: var(--point-50);
  border-radius: var(--radius-20);
  padding: var(--space-32) var(--space-40);

  .date-area {
    margin-top: var(--space-16);
    .date-wrap {
      display: flex;
      flex-direction: column;
      gap: var(--space-8);
    }
    .date-inner {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: var(--space-8);
      > * {
        flex: 1;
      }
    }
    .ipt-inner {
      display: flex;
      gap: var(--space-8);
      .ipt-wrap {
        flex: 1;
        ._ipt-radio-box {
          flex: 1;
        }
      }
    }

  }
}

.interest-rate-cut {
  &::after {
    background: url(#{$img_url}/fs/bg_visual_interestrate.png) no-repeat 0 0 / auto 100%;
  }
}



// Tablet
@include respond-md {
  .fs-intro-guide {
    gap: var(--space-40);
    .guide-item {
      .inner {
        flex-direction: column;
        gap: var(--space-24);
        > .text-area {
          ._font-title-2 {
            > span {
              margin-bottom: var(--space-4);
            }
          }

          .loan-infor {
            margin-top: var(--space-16);
            gap: var(--space-8);
            .item {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
        .item-wrap {
          flex-basis: auto;
          max-width: none;
          gap: var(--space-12);
          .item {
            padding: var(--space-24);
            > .text-area {
              gap: var(--space-4);
            }
            &::after {
              content: '';
              display: block;
              margin: var(--space-40) 0 0 auto;
              width: 120px;
              height: 120px;
            }
          }
          
          .bg-item {
            padding: var(--space-24);
          }
        }
      }
    }
  }

  .loan-infor-area {
    .item-wrap {
      flex-direction: column;
      .item {
        &:nth-child(2) {
          flex: 1;
        }
      }
    }
  }

  .summary-area {
    flex-direction: column;
    .item-wrap {
      flex-basis: auto;
    }
  }
  
}

// Mobile
@include respond-sm {
  .fs-intro-guide {
    .guide-item {
      .inner {
        .item-wrap {
          .bg-item {
            margin-top: -8px;
            ._table {
              > table {
                min-width: 560px;
              }
            }
            ._btn-wrap {
              flex-wrap: wrap;
              justify-content: flex-start;
            }
          }
        }
      }
    }
    + ._btn-wrap {
      margin-top: var(--space-40);
    }
  }

  .popup-content {
    .qr-img {
      margin-bottom: var(--space-8);
    }
    .list-noti {
      gap: var(--space-6);
    }
  }

  .dropdown-area {
    padding: var(--space-32) 0;
  }

  .full-bg {
    .contents {
      max-width: $page-max-width;
      margin: var(--space-32) auto var(--space-56);
    }
  }

  .loan-infor-area {
    border-radius: var(--radius-20);
    padding: var(--space-24) var(--space-20);
    ._font-title-4 {
      padding-bottom: var(--space-8);
    }
    .item-wrap {
      gap: var(--space-16);
      padding-top: var(--space-20);
      .item {
        flex-direction: column;
        gap: var(--space-16);
        min-width: auto;
        &:nth-child(2) {
          padding: var(--space-12) var(--space-16);
          flex: 1;
        }
        .data-infor {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          ._font-title-1 {
            padding-top: var(--space-4);
          }
          dd {
            text-align: right;
          }
        }
      }
    }
  }

  .summary-area {
    padding-top: var(--space-40);
    .item-wrap {
      flex-basis: auto;
      .item {
        grid-template-columns: auto;        
        padding: var(--space-24) var(--space-20);
        .data-infor {
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          gap: var(--space-8);
          > * {
            flex: 1;
          }
          dd {
            text-align: right;
          }
        }
      }
    }
  }

  .loan-wrap {
    flex-direction: column;    
    .loan-infor-area {
      min-width: auto;
      .sub-item {
        flex-direction: column;
        gap: var(--space-6);
        padding: var(--space-12) var(--space-16);
        margin-top: 0;
        .data-infor {
          dd {
            text-align: right;
          }
        }
      }
    }

    .search-area {
      padding: var(--space-24) var(--space-20);
      .date-area {
        .date-wrap {
          gap: var(--space-16);
        }
        .ipt-inner {
          flex-direction: column;
        }
      }
    }
  }

}

