@use "../abstracts" as *;

.step-section {
  display: flex;
  align-items: flex-start;
  gap: 12px;

  + .step-section {
    margin-top: 80px;
  }
}

.step-num {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: var(--radius-20);
  color: $text-white;
  background-color: $bg-black;
}

.step-body {
  flex: 1;

  .list-noti li {
    color: $text-quaternary;
  }
}

.accordion {
  margin-top: 40px;
}
