@use "../abstracts" as *;

// =========================
// 모듈 - 넘버형 섹션
// =========================
.step-section {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: var(--space-16);

  + .step-section {
    margin-top: var(--space-56);

    @include respond-sm {
      margin-top: var(--space-40);
    }
  }

  .step-num {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    border-radius: var(--radius-20);
    color: $text-white;
    background-color: $bg-black;

    @include respond-sm {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 0;
    }
  }

  .step-title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond-sm {
      margin-left: 30px;
      padding-left: var(--space-12);
    }
  }

  .step-body {
    width: 100%;
  }

  .accordion {
    margin-top: var(--space-24);

    .accordion-cont > .list-ref {
      gap: var(--space-4);
    }

    @include respond-sm {
      margin-top: var(--space-16);
    }
  }
}

//=========================
// 모듈 - 테이블
//=========================
._table {
  ._btn-wrap {
    button.ico-download::after {
      background-color: $line-point;
    }
  }

  table {
    // 스크롤 생기게 width 제한
    @include respond-sm {
      min-width: 500px;
    }

    colgroup {
      col {
        // 첫번째 열 너비 고정
        &:nth-child(1) {
          width: 200px;

          @include respond-md {
            width: 100px;
          }

          @include respond-sm {
            width: 68px;
          }
        }
        width: 50%;
      }
    }
  }
}

//=========================
// 모듈 - 아이콘형 앵커 태그
//=========================
a[class*="ico-"] {
  color: $text-primary;
}

// =========================
// 페이지 - 가맹점 가입 / 해지 안내
// =========================
.merchant-guide {
  .title + .contents {
    padding-top: var(--space-24);

    @include respond-sm {
      padding-top: var(--space-40);
    }
  }

  .pg-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--space-8);
    padding: 0;
    margin: 0;
    list-style: none;

    @include respond-md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include respond-sm {
      grid-template-columns: minmax(0, 1fr);
    }
  }

  .pg-item {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: var(--space-24) var(--space-20);
    background-color: $bg-white;
    border-radius: var(--radius-16);

    @include respond-sm {
      flex-direction: row;
      align-items: center;
      gap: var(--space-16);
      padding: var(--space-16) var(--space-20);
    }
  }

  .pg-content {
    display: flex;
    flex-direction: column;

    @include respond-sm {
      flex: 1;
    }
  }

  .pg-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background-color: $bg-gray-20;
    border-radius: var(--radius-16);
  }

  .pg-name {
    @include font-token($font-body-0-semi);

    margin-top: var(--space-8);
    color: $text-secondary;

    @include respond-sm {
      @include font-token($font-body-1-semi);
      margin-top: 0;
    }
  }

  .pg-url,
  .pg-tel {
    @include font-token($font-body-1);

    color: $text-quaternary;
  }

  .pg-url {
    margin-top: var(--space-4);

    a {
      display: inline-flex;
      align-items: center;
      gap: var(--space-4);
      color: inherit;
      text-decoration: none;
    }
  }

  .pg-tel {
    margin-top: var(--space-2);
  }
}

// =========================
// 페이지 - 가맹점 정보 변경 안내
// =========================
.merchant-modify {
  .title + .contents {
    @include respond-sm {
      padding-top: var(--space-24);
    }
  }

  section {
    display: flex;

    > * {
      flex: 1;
    }

    & + section {
      margin-top: var(--space-56);

      @include respond-sm {
        margin-top: var(--space-40);
      }
    }

    .info-area {
      max-width: 400px;
    }
  }

  .accordion-cont {
    .req-group {
      .req-title {
        @include font-token($font-body-0-semi);
        margin-bottom: var(--space-12);
        color: $text-secondary;

        @include respond-sm {
          @include font-token($font-body-1-semi);
        }
      }
    }

    .req-link {
      color: $text-primary;
      text-decoration: underline;
    }
  }
}

// =========================
// 페이지 - 가맹점 준수사항 안내
// =========================
.merchant-required {
  .required-box {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    padding: var(--space-32) var(--space-40);
    margin-bottom: var(--space-56);
    background-color: $bg-gray-20;
    border-radius: var(--radius-16);

    @include respond-sm {
      padding: var(--space-20);
      margin-bottom: var(--space-40);
    }

    .required-desc {
      @include font-token($font-body-0);
      margin: 0;
      color: $text-quaternary;

      @include respond-sm {
        @include font-token($font-body-1);
      }
    }
  }
}
