.visual-wrap {
  background-color: var(--gray-40);
}
.visual-wrap .visual-item .bg-text {
  background-color: var(--white);
  color: var(--primary-p800);
}

.cpmp-service::after {
  background: url(/static/images/bs/bg_visual_cpmp.png) no-repeat 0 0/auto 100%;
}

.bs-intro-guide {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--space-56);
  padding-bottom: var(--space-56);
}
.bs-intro-guide .guide-item .inner {
  display: flex;
  justify-content: space-between;
}
.bs-intro-guide .guide-item .inner > .text-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  min-width: 270px;
}
.bs-intro-guide .guide-item .inner > .text-area .text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
  color: var(--gray-500);
}
.bs-intro-guide .guide-item .item-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-16);
  flex-basis: 832px;
}
.bs-intro-guide .guide-item .item-wrap.full-image, .bs-intro-guide .guide-item .item-wrap.application, .bs-intro-guide .guide-item .item-wrap.lawandgood {
  grid-template-columns: none;
}
.bs-intro-guide .guide-item .item-wrap.full-image .item {
  padding: 0;
}
.bs-intro-guide .guide-item .item-wrap.full-image .item::after {
  display: none;
}
.bs-intro-guide .guide-item .item-wrap .item {
  display: flex;
  flex-direction: column;
  gap: var(--space-16) 0;
  border-radius: var(--radius-16);
  background: var(--gray-20);
  padding: var(--space-48);
}
.bs-intro-guide .guide-item .item-wrap .item > .text-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-20) 0;
}
.bs-intro-guide .guide-item .item-wrap .item > .text-area ._font-title-3 {
  color: var(--gray-700);
}
.bs-intro-guide .guide-item .item-wrap .item > .text-area .text {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .bs-intro-guide .guide-item .item-wrap .item > .text-area .text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
.bs-intro-guide .guide-item .item-wrap .item > .text-area .text {
  color: var(--gray-600);
  word-break: keep-all;
}
.bs-intro-guide .guide-item .item-wrap .item > .text-area .text strong {
  color: var(--gray-900);
}
.bs-intro-guide .guide-item .item-wrap .item .img-area {
  text-align: center;
}
.bs-intro-guide .guide-item .item-wrap .item::after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  margin: auto 0 0 auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
}
.bs-intro-guide .guide-item .item-wrap.report .item:nth-child(1)::after {
  background-image: url(/static/images/bs/ico_report01.png);
}
.bs-intro-guide .guide-item .item-wrap.report .item:nth-child(2)::after {
  background-image: url(/static/images/bs/ico_report02.png);
}
.bs-intro-guide .guide-item .item-wrap.report .item:nth-child(3)::after {
  background-image: url(/static/images/bs/ico_report03.png);
}
.bs-intro-guide .guide-item .item-wrap.report .item:nth-child(4)::after {
  background-image: url(/static/images/bs/ico_report04.png);
}
.bs-intro-guide .guide-item .item-wrap.report .item:nth-child(5)::after {
  background-image: url(/static/images/bs/ico_report05.png);
}
.bs-intro-guide .guide-item .item-wrap.lawandgood {
  grid-template-columns: none;
}
.bs-intro-guide .guide-item .item-wrap.lawandgood .item::after {
  width: 320px;
  height: 180px;
  background-image: url(/static/images/bs/ico_lawandgood.png);
}
.bs-intro-guide .guide-item .item-wrap.application {
  counter-reset: list-counter;
}
.bs-intro-guide .guide-item .item-wrap.application .item {
  flex-direction: row;
  padding-bottom: 0;
  counter-increment: list-counter;
}
.bs-intro-guide .guide-item .item-wrap.application .item::after {
  width: 344px;
  height: 280px;
}
.bs-intro-guide .guide-item .item-wrap.application .item:nth-child(1)::after {
  background-image: url(/static/images/bs/img_application01.png);
}
.bs-intro-guide .guide-item .item-wrap.application .item:nth-child(2)::after {
  background-image: url(/static/images/bs/img_application02.png);
}
.bs-intro-guide .guide-item .item-wrap.application .item:nth-child(3)::after {
  background-image: url(/static/images/bs/img_application03.png);
}
.bs-intro-guide .guide-item .item-wrap.application .item > .text-area > strong {
  display: inline-flex;
  align-items: center;
  gap: var(--space-12);
}
.bs-intro-guide .guide-item .item-wrap.application .item > .text-area > strong::before {
  content: counter(list-counter);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--gray-700);
  border-radius: 100%;
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .bs-intro-guide .guide-item .item-wrap.application .item > .text-area > strong::before {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.bs-intro-guide .guide-item:first-child .item-wrap.full-image .item {
  padding-top: var(--space-56);
}

.full-bg {
  background-color: var(--gray-40);
  max-width: none !important;
}
.full-bg .contents {
  max-width: 1200px;
  margin: var(--space-56) auto var(--space-100);
}

.cardlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-40) var(--space-16);
}
.cardlist > .item {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  background-color: var(--white);
  border-radius: var(--space-24);
  padding: var(--space-24);
}
.cardlist > .item .top {
  display: flex;
  justify-content: space-between;
}
.cardlist > .item .top > .title > strong {
  display: flex;
  gap: var(--space-12);
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .cardlist > .item .top > .title > strong {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
  }
}
.cardlist > .item .top > .title > strong {
  color: var(--gray-500);
}
.cardlist > .item .top > .title > strong::before {
  content: "";
  display: block;
  width: var(--space-40);
  height: var(--space-40);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
}
.cardlist > .item .top > .title > strong.bc::before {
  background-image: url(/static/images/bs/ico_bank_logo_bc.png);
}
.cardlist > .item .top > .title > strong.hana::before {
  background-image: url(/static/images/bs/ico_bank_logo_hana.png);
}
.cardlist > .item .top > .title > strong.ibk::before {
  background-image: url(/static/images/bs/ico_bank_logo_ibk.png);
}
.cardlist > .item .top > .title > strong.nh::before {
  background-image: url(/static/images/bs/ico_bank_logo_nh.png);
}
.cardlist > .item .top > .title > strong.bnk::before {
  background-image: url(/static/images/bs/ico_bank_logo_bnk.png);
}
.cardlist > .item .top > .title > strong.sh::before {
  background-image: url(/static/images/bs/ico_bank_logo_sh.png);
}
.cardlist > .item .top > .brand {
  display: flex;
  gap: var(--space-4);
}
.cardlist > .item .top > .brand > span {
  display: inline-block;
  position: relative;
  font-size: 1px;
  width: 28px;
  height: 28px;
}
.cardlist > .item .top > .brand > span::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  background-color: var(--white);
  z-index: 1;
}
.cardlist > .item .top > .brand > span.bc::before {
  background-image: url(/static/images/bs/ico_brand_logo_bc.png);
}
.cardlist > .item .top > .brand > span.master::before {
  background-image: url(/static/images/bs/ico_brand_logo_master.png);
}
.cardlist > .item .top > .brand > span.union::before {
  background-image: url(/static/images/bs/ico_brand_logo_union.png);
}
.cardlist > .item .top > .brand > span.visa::before {
  background-image: url(/static/images/bs/ico_brand_logo_visa.png);
}
.cardlist > .item .img-area {
  text-align: center;
}
.cardlist > .item .middle {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}
.cardlist > .item .middle > .text-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}
.cardlist > .item .middle > .text-area .text {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .cardlist > .item .middle > .text-area .text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
.cardlist > .item .middle > .text-area .text {
  color: var(--gray-600);
}
.cardlist > .item .middle > .badge-area {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-8);
}
.cardlist > .item .middle > .badge-area [class^=_badge-small] {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .cardlist > .item .middle > .badge-area [class^=_badge-small] {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.cardlist > .item .btn-wrap {
  margin-top: auto;
  padding-top: var(--space-8);
}
.cardlist > .item .btn-wrap ._btn-small-quaternery {
  pointer-events: none;
}

@media (max-width: 1023px) {
  .bs-intro-guide {
    padding-bottom: var(--space-40);
    gap: var(--space-40);
  }
  .bs-intro-guide .guide-item .inner {
    flex-direction: column;
    gap: var(--space-24);
  }
  .bs-intro-guide .guide-item .item-wrap {
    flex-basis: auto;
    gap: var(--space-12);
  }
  .bs-intro-guide .guide-item .item-wrap .item {
    padding: var(--space-24);
  }
  .bs-intro-guide .guide-item .item-wrap .item > .text-area {
    gap: var(--space-8) 0;
  }
  .cardlist {
    grid-template-columns: repeat(2, 1fr);
  }
  .cardlist > .item .btn-wrap ._btn-small-quaternery {
    pointer-events: auto;
  }
}
@media (max-width: 767px) {
  .bs-intro-guide .guide-item .item-wrap {
    grid-template-columns: none;
    gap: var(--space-12);
  }
  .bs-intro-guide .guide-item .item-wrap.full-image .item {
    padding: 0 var(--space-20);
  }
  .bs-intro-guide .guide-item .item-wrap .item {
    gap: var(--space-20) 0;
    padding: var(--space-20);
  }
  .bs-intro-guide .guide-item .item-wrap .item > .text-area {
    gap: var(--space-8) 0;
  }
  .bs-intro-guide .guide-item .item-wrap .item::after {
    width: 40px;
    height: 40px;
  }
  .bs-intro-guide .guide-item .item-wrap.lawandgood .item::after {
    width: 120px;
    height: 120px;
    background-position: 50% 50%;
    background-size: auto 100%;
  }
  .bs-intro-guide .guide-item .item-wrap.application .item {
    flex-direction: column;
  }
  .bs-intro-guide .guide-item .item-wrap.application .item::after {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    background-position: 50% 50%;
    background-size: auto 100%;
  }
  .bs-intro-guide .guide-item .item-wrap.application .item > .text-area > strong {
    gap: var(--space-8);
  }
  .bs-intro-guide .guide-item:first-child .item-wrap.full-image .item {
    padding-top: var(--space-32);
  }
  .full-bg .contents {
    margin: var(--space-24) auto var(--space-64);
  }
  .cardlist {
    grid-template-columns: none;
    gap: var(--space-16);
  }
  .cardlist > .item {
    gap: var(--space-16);
    padding: var(--space-20);
  }
  .cardlist > .item .btn-wrap {
    padding-top: var(--space-16);
  }
  .cardlist > .item .btn-wrap ._btn-small-quaternery {
    pointer-events: all;
  }
}