:root {
  --space-2: 2px;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
}

/* .w-full {
  width: 100%;
}

.h-full {
  height: 100%;
} */
.hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px !important;
  clip: rect(0 0 0 0);
}

.list-noti {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.list-noti > li {
  position: relative;
  color: var(--gray-600);
  display: block;
  padding-left: 12px;
}
.list-noti > li::before {
  position: absolute;
  left: 0;
  content: "";
  top: 11px;
  width: 3px;
  height: 3px;
  background-color: var(--gray-600);
  border-radius: 100%;
  transform: translateY(-50%);
}

.list-ref {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.list-ref > li {
  position: relative;
  color: var(--gray-600);
  display: block;
  padding-left: 12px;
}
.list-ref > li::before {
  position: absolute;
  left: 0;
  content: "*";
  top: 13px;
  font-size: 9px;
  transform: translateY(-50%);
}

.list-dash {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.list-dash > li {
  position: relative;
  color: var(--gray-600);
  display: block;
  padding-left: 12px;
}
.list-dash > li::before {
  position: absolute;
  left: 0;
  content: "-";
  top: 11px;
  font-size: 9px;
  transform: translateY(-50%);
}

.warning-box {
  padding: 20px;
  border-radius: var(--radius-16);
  background-color: var(--gray-40);
}
.warning-box .warning-title {
  display: flex;
  align-items: center;
  color: var(--gray-600);
}
.warning-box .warning-title::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px 4px 2px 2px;
  background: url(/static/images/icons/alert-circle.svg) no-repeat center center/contain;
}
.warning-box .list-noti {
  margin-top: 12px;
  gap: 6px;
  margin-top: 12px;
  gap: 6px;
}
.warning-box .list-noti li {
  color: var(--gray-600);
}
.warning-box .list-noti li::before {
  width: 3px;
  height: 3px;
  top: 9px;
  transform: none;
  background-color: var(--gray-600);
}
.warning-box .list-noti li strong {
  color: var(--red-800);
  font-weight: 400;
}

.noData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  padding: 100px 0;
}
.noData p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-600);
  text-align: center;
}
.noData p:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 20px;
  background: url(/static/images/common/ico_nodata.png) no-repeat 50% 50%/100% auto;
}
.noData .btnArea {
  margin-top: 20px;
}

.accordion-item {
  text-align: left;
  border-bottom: 1px solid var(--gray-60);
  background-color: var(--white);
}
.accordion-item:first-child {
  border-top: 1px solid var(--gray-60);
}

.accordion-header {
  position: relative;
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: left;
}

.accordion-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.accordion-btn span {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px !important;
  clip: rect(0 0 0 0);
}

.accordion-btn::before,
.accordion-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 13px;
  height: 2px;
  background-color: var(--gray-900);
  transform: rotate(90deg) scale(0.9);
  transition: transform 0.3s ease;
}

.accordion-btn::after {
  transform: rotate(0deg) scale(0.9);
}

.accordion-btn[aria-expanded=true]::before {
  transform: rotate(0deg) scale(0.9);
}

.accordion-panel {
  overflow: hidden;
}

.accordion-cont {
  padding: 0 20px 20px;
}

a:focus {
  outline: solid 2px #191b1e !important;
}

/*
@media (min-width: 1200px) {
  font-size: 22px;
}

@media (max-width: 768px) {
  font-size: 16px;
}
*/