:root {
  /* color */
  --primary-p50:#E6EAF0;
  --primary-p100:#C0CADC;
  --primary-p200:#98A8C4;
  --primary-p300:#7186AC;
  --primary-p400:#516D9C;
  --primary-p500:#30558E;
  --primary-p600:#294D85;
  --primary-p700:#21437A;
  --primary-p800:#1A3A6D;
  --primary-p900:#122A55;
  --point-50:#E8EAF8;
  --point-100:#C6C9EE;
  --point-200:#A0A6E3;
  --point-300:#7A83D8;
  --point-400:#5D67CF;
  --point-500:#404BC5;
  --point-600:#3A43BB;
  --point-700:#3139AF;
  --point-800:#292EA3;
  --point-900:#1D1A8D;
  --bg-glass-60:rgba(255, 255, 255, 0.60);
  --bg-glass-80:rgba(255, 255, 255, 0.80);
  --white:#FFF;
  --gray-20:#F8F9FC;
  --gray-40:#F3F5F8;
  --gray-60:#E7E9EF;
  --gray-100:#CDD1DA;
  --gray-200:#B2B7C2;
  --gray-300:#969DAB;
  --gray-400:#7A8394;
  --gray-500:#626A7A;
  --gray-600:#4B515D;
  --gray-700:#343841;
  --gray-800:#22252A;
  --gray-900:#191B1E;
  --black:#000;
  --blue-50:#E4F3FF;
  --blue-100:#BDE0FF;
  --blue-200:#93CEFF;
  --blue-300:#66BAFF;
  --blue-400:#44ABFF;
  --blue-500:#2A9CFF;
  --blue-600:#2D8DFF;
  --blue-700:#2D7AEB;
  --blue-800:#2D68D8;
  --blue-900:#2A48B9;
  --green-50:#E7F5F0;
  --green-100:#C4E7DB;
  --green-200:#A1D9C5;
  --green-300:#7ECAAF;
  --green-400:#5BBC99;
  --green-500:#37AD84;
  --green-600:#149F6E;
  --green-700:#0B9665;
  --green-800:#08885B;
  --green-900:#067D53;
  --red-50:#FFEAEF;
  --red-100:#FFCBD5;
  --red-200:#F9959D;
  --red-300:#F26A76;
  --red-400:#FF3F53;
  --red-500:#FF1C37;
  --red-600:#F70537;
  --red-700:#E50031;
  --red-800:#D80029;
  --red-900:#C8001D;
  --yellow-50:#FFF9E6;
  --yellow-100:#FFF0C3;
  --yellow-200:#FFE494;
  --yellow-300:#FFD863;
  --yellow-400:#FFCC34;
  --yellow-500:#FFC107;
  --yellow-600:#D9A406;
  --yellow-700:#B58905;
  --yellow-800:#916E04;
  --yellow-900:#735703;
  /* radius */
  --radius-4:4px;
  --radius-8:8px;
  --radius-12:12px;
  --radius-16:16px;
  --radius-20:20px;
  --radius-24:24px;
}

/* reset */
html {
  height: 100%;
}

body {
  min-height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  background-color: var(--background-color-1);
}

body, html {
  margin: 0;
  padding: 0;
  line-height: 1.5; /*  height:100%; overflow:auto; */
}

body, button, input, textarea, th, td {
  font-family: "Pretendard";
}

body.stop-scroll {
  overflow: hidden;
  touch-action: none;
}

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, button, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 0 none;
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: border-box;
}

li {
  list-style: none;
}

strong {
  font-weight: bold;
}

button {
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

input[type=text], input[type=password], input[type=tel], input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: var(--font-neutral-2);
  outline: 0;
}

a, label, button {
  -webkit-tap-highlight-color: transparent;
}

i, em {
  font-style: normal;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

caption {
  overflow: hidden;
  width: 0;
  height: 0;
  text-indent: -9999px;
}

/* font-face */
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("/static/fonts/Pretendard-Regular.woff2") format("woff2"), url("/static/fonts/Pretendard-Regular.woff") format("woff"), url("/static/fonts/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("/static/fonts/Pretendard-Medium.woff2") format("woff2"), url("/static/fonts/Pretendard-Medium.woff") format("woff"), url("/static/fonts/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("/static/fonts/Pretendard-SemiBold.woff2") format("woff2"), url("/static/fonts/Pretendard-SemiBold.woff") format("woff"), url("/static/fonts/Pretendard-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("/static/fonts/Pretendard-Bold.woff2") format("woff2"), url("/static/fonts/Pretendard-Bold.woff") format("woff"), url("/static/fonts/Pretendard-Bold.otf") format("opentype");
}
/* component */
/* font */
[class^=_font] {
  color: var(--gray-900);
}

[class^=_font-headline],
[class^=_font-title] {
  font-weight: 700;
}

._font-headline-1 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -1.44px;
}

._font-title-1 {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1.28px;
}

._font-title-2 {
  font-size: 28px;
  line-height: 37px;
  letter-spacing: -0.56px;
}

._font-title-3 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.48px;
}

._font-title-4 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.4px;
}

[class^=_font-body-0] {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
}

[class^=_font-body-1] {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}

[class^=_font-body-2] {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
}

[class^=_font-body-3] {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.48px;
}

[class^=_font-body-][class*=-medi] {
  font-weight: 500;
}

[class^=_font-body-][class*=-semi] {
  font-weight: 600;
}

[class^=_font-caption-1] {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.44px;
}

[class^=_font-caption-1][class*=-medi] {
  font-weight: 500;
}

[class^=_font-caption-1][class*=-semi] {
  font-weight: 600;
}

[class^=_font-caption-2] {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.4px;
}

[class^=_font-caption-2][class*=-medi] {
  font-weight: 500;
}

[class^=_font-caption-2][class*=-semi] {
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  ._font-title-1 {
    font-size: 24px;
    letter-spacing: -0.96px;
  }
  ._font-title-2 {
    font-size: 20px;
    letter-spacing: -0.8px;
  }
  ._font-title-3 {
    font-size: 18px;
    letter-spacing: -0.72px;
  }
  [class^=_font-body-1] {
    letter-spacing: -0.64px;
  }
  [class^=_font-body-2] {
    letter-spacing: -0.56px;
  }
  [class^=_font-caption-1] {
    font-size: 13px;
    letter-spacing: -0.52px;
  }
  [class^=_font-caption-2] {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}
/* shadow */
.shadow-1 {
  box-shadow: 0 4px 12px 0 rgba(35, 34, 88, 0.02) inset, 0 16px 32px 0 rgba(35, 34, 88, 0.08);
  backdrop-filter: blur(10px);
}

.shadow-2 {
  box-shadow: 0 4px 12px 0 rgba(35, 34, 88, 0.02) inset, 0 8px 16px 0 rgba(35, 34, 88, 0.08);
  backdrop-filter: blur(10px);
}

.shadow-3 {
  box-shadow: 0 4px 12px 0 rgba(35, 34, 88, 0.02) inset, 0 4px 8px 0 rgba(35, 34, 88, 0.08);
  backdrop-filter: blur(10px);
}

/* button */
[class^=_btn] {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid transparent;
}

[class^=_btn-large] {
  height: 56px;
  padding: 0 20px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.72px;
}

[class^=_btn-medium] {
  height: 48px;
  padding: 0 20px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
}

[class^=_btn-small] {
  height: 40px;
  padding: 0 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.56px;
}

[class^=_btn-xsmall] {
  height: 32px;
  padding: 0 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
}

[class^=_btn-][class*=-primary] {
  background: var(--primary-p800);
  color: var(--white);
}

[class^=_btn-][class*=-secondary] {
  background: var(--white);
  border: 1px solid var(--primary-p800);
  color: var(--primary-p800);
}

[class^=_btn-][class*=-tertiary] {
  border: 1px solid var(--gray-100);
  background: var(--white);
  color: var(--gray-900);
}

[class^=_btn-][class*=-quaternery] {
  background: var(--gray-60);
  color: var(--gray-900);
}

[class^=_btn-][class*=-primary]:active,
[class^=_btn-][class*=-primary]:hover {
  background: var(--primary-p900);
}

[class^=_btn-][class*=-secondary]:active,
[class^=_btn-][class*=-secondary]:hover {
  background: var(--primary-p50);
}

[class^=_btn-][class*=-tertiary]:active,
[class^=_btn-][class*=-tertiary]:hover {
  background: var(--gray-60);
}

[class^=_btn-][class*=-quaternery]:active,
[class^=_btn-][class*=-quaternery]:hover {
  background: var(--gray-100);
}

[class^=_btn-][class*=-secondary]:disabled,
[class^=_btn-][class*=-secondary].disabled,
[class^=_btn-][class*=-tertiary]:disabled,
[class^=_btn-][class*=-tertiary].disabled {
  border: 1px solid var(--gray-60);
  color: var(--gray-100);
  pointer-events: none;
}

[class^=_btn-][class*=-primary]:disabled,
[class^=_btn-][class*=-primary].disabled,
[class^=_btn-][class*=-quaternery]:disabled,
[class^=_btn-][class*=-quaternery].disabled {
  background: var(--gray-60);
  color: var(--gray-100);
  pointer-events: none;
}

[class^=_btn-underline] {
  padding: 0 2px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  text-decoration: underline;
}

[class^=_btn-underline][class*=-primary] {
  background: transparent;
  border: none;
  color: var(--gray-900);
}

[class^=_btn-underline][class*=-secondary] {
  background: transparent;
  border: none;
  color: var(--gray-500);
}

[class^=_btn-underline][class*=-primary]:active,
[class^=_btn-underline][class*=-secondary]:active,
[class^=_btn-underline][class*=-primary]:hover,
[class^=_btn-underline][class*=-secondary]:hover {
  background: var(--gray-60);
  border-radius: 4px;
}

[class^=_btn-underline][class*=-primary]:disabled,
[class^=_btn-underline][class*=-primary].disabled {
  background: transparent;
  border: none;
  color: var(--gray-100);
  pointer-events: none;
}

[class^=_btn-underline][class*=-secondary]:disabled,
[class^=_btn-underline][class*=-secondary].disabled {
  background: transparent;
  border: none;
  color: var(--gray-100);
  pointer-events: none;
}

[class^=_btn-alarm] {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid var(--gray-100);
  text-indent: -9999px;
  color: transparent;
}

[class^=_btn-alarm]::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 9C18 7.4087 17.3679 5.88258 16.2426 4.75736C15.1174 3.63214 13.5913 3 12 3C10.4087 3 8.88258 3.63214 7.75736 4.75736C6.63214 5.88258 6 7.4087 6 9C6 16 3 18 3 18H21C21 18 18 16 18 9Z' stroke='%23191B1E' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 21C13.6569 21 15 19.6569 15 18H9C9 19.6569 10.3431 21 12 21Z' stroke='%23191B1E' stroke-width='1.8'/%3E%3C/svg%3E%0A");
}

[class^=_btn-alarm].selected {
  border: 1px solid var(--primary-p800);
}

[class^=_btn-alarm].selected::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 24 24' fill='%231A3A6D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 9C18 7.4087 17.3679 5.88258 16.2426 4.75736C15.1174 3.63214 13.5913 3 12 3C10.4087 3 8.88258 3.63214 7.75736 4.75736C6.63214 5.88258 6 7.4087 6 9C6 16 3 18 3 18H21C21 18 18 16 18 9Z' stroke='%231A3A6D' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 21C13.6569 21 15 19.6569 15 18H9C9 19.6569 10.3431 21 12 21Z' stroke='%231A3A6D' stroke-width='1.8'/%3E%3C/svg%3E%0A");
}

[class^=_btn-alarm]:disabled,
[class^=_btn-alarm].disabled {
  border: 1px solid var(--gray-60);
  pointer-events: none;
}

[class^=_btn-alarm]:disabled::after,
[class^=_btn-alarm].disabled::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 9C18 7.4087 17.3679 5.88258 16.2426 4.75736C15.1174 3.63214 13.5913 3 12 3C10.4087 3 8.88258 3.63214 7.75736 4.75736C6.63214 5.88258 6 7.4087 6 9C6 16 3 18 3 18H21C21 18 18 16 18 9Z' stroke='%23CDD1DA' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 21C13.6569 21 15 19.6569 15 18H9C9 19.6569 10.3431 21 12 21Z' stroke='%23CDD1DA' stroke-width='1.8'/%3E%3C/svg%3E%0A");
}

[class^=_btn-alarm][class*=-small] {
  width: 28px;
  height: 28px;
  border-radius: 8px;
}

[class^=_btn-alarm][class*=-small]::after {
  width: 16px;
  height: 16px;
  background-size: 16px;
}

.btn-wrap {
  display: flex;
  width: 100%;
  gap: 8px;
}

.btn-wrap [class^=_btn]:only-child {
  flex-basis: 100%;
}

.btn-wrap.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
}

.btn-wrap.fixed::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;
  height: 24px;
  background: linear-gradient(180deg, rgba(248, 249, 252, 0) 0%, var(--gray-20) 100%);
}

[class^=_btn].p35 {
  flex-basis: 35%;
}

[class^=_btn].p50 {
  flex-basis: 50%;
}

[class^=_btn].p65 {
  flex-basis: 65%;
}

[class^=_textbtn] {
  display: flex;
  align-items: center;
  padding: 0 2px;
  text-align: center;
  color: var(--gray-600);
  font-weight: 500;
}

[class^=_textbtn]:active,
[class^=_textbtn]:hover {
  border-radius: 8px;
  background: var(--gray-60);
}

[class^=_textbtn-medium] {
  font-size: 18px;
  letter-spacing: -0.72px;
}

[class^=_textbtn-small] {
  font-size: 16px;
  letter-spacing: -0.64px;
}

[class^=_textbtn-xsmall] {
  font-size: 14px;
  letter-spacing: -0.56px;
}

[class^=_textbtn].left-icon::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 2px;
  padding-left: 2px;
}

[class^=_textbtn-small].left-icon::before {
  margin-right: 4px;
}

[class^=_textbtn-xsmall].left-icon::before {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

[class^=_textbtn].right-icon::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  margin-left: 2px;
  padding-right: 2px;
}

[class^=_textbtn-small].right-icon::after {
  margin-left: 4px;
}

[class^=_textbtn-xsmall].right-icon::after {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

[class^=_textbtn]:disabled,
[class^=_textbtn].disabled {
  background: transparent;
  color: var(--gray-100);
  pointer-events: none;
}

/* checkbox */
.ipt-wrap {
  display: flex;
  justify-content: center;
  gap: 8px;
}

[class^=_ipt-check-main] {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  color: var(--gray-900);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
}

[class^=_ipt-check-main] input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -1;
}

[class^=_ipt-check-main] input + i {
  display: flex;
  gap: 8px;
  align-items: center;
}

[class^=_ipt-check-main] input + i::before {
  content: "";
  display: inline-flex;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background: url(../images/common/check-default.svg) no-repeat center/100%;
}

[class^=_ipt-check-main] input:checked + i::before {
  background: url(../images/common/check-selected.svg) no-repeat center/100%;
}

[class^=_ipt-check-main]:hover input:not(:checked):not(:disabled) + i::before {
  background: url(../images/common/check-hover.svg) no-repeat center/100%;
}

[class^=_ipt-check-main] input:disabled + i,
[class^=_ipt-check-main] input:checked:disabled + i {
  color: var(--gray-300);
}

[class^=_ipt-check-main] input:disabled + i::before {
  background: url(../images/common/check-disabled.svg) no-repeat center/100%;
}

[class^=_ipt-check-main] input:checked:disabled + i::before {
  background: url(../images/common/check-disabled-selected.svg) no-repeat center/100%;
}

[class^=_ipt-check-main][class*=-small] {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-900);
  letter-spacing: -0.56px;
}

[class^=_ipt-check-main][class*=-small] input + i::before {
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
}

[class^=_ipt-check-sub] {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  color: var(--gray-900);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.64px;
}

[class^=_ipt-check-sub] input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -1;
}

[class^=_ipt-check-sub] input + i {
  display: flex;
  gap: 8px;
  align-items: center;
}

[class^=_ipt-check-sub] input + i::before {
  content: "";
  display: inline-flex;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background: url(../images/common/check-sub-default.svg) no-repeat center/100%;
}

[class^=_ipt-check-sub] input:checked + i::before {
  background: url(../images/common/check-sub-selected.svg) no-repeat center/100%;
}

[class^=_ipt-check-sub]:hover input:not(:checked):not(:disabled) + i::before {
  background: url(../images/common/check-sub-hover.svg) no-repeat center/100%;
}

[class^=_ipt-check-sub] input:disabled + i {
  color: var(--gray-300);
}

[class^=_ipt-check-sub] input:disabled + i::before {
  background: url(../images/common/check-sub-disabled.svg) no-repeat center/100%;
}

[class^=_ipt-check-sub] input:checked:disabled + i::before {
  background: url(../images/common/check-sub-disabled-selected.svg) no-repeat center/100%;
}

[class^=_ipt-check-box] {
  position: relative;
  display: flex;
}

[class^=_ipt-check-box] input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -1;
}

[class^=_ipt-check-box] input + i {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 1px 40px 1px 11px;
  border-radius: 8px;
  border: 1px solid var(--gray-60);
  background: var(--white);
  cursor: pointer;
  color: var(--gray-700);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.64px;
  white-space: nowrap;
}

[class^=_ipt-check-box] input + i::after {
  content: "";
  position: absolute;
  right: 12px;
  display: inline-flex;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background: url(../images/common/check-sub-default.svg) no-repeat center/100%;
}

[class^=_ipt-check-box] input:checked + i {
  border: 2px solid var(--black);
  padding: 0 39px 0 10px;
}

[class^=_ipt-check-box] input:checked + i::after {
  background: url(../images/common/check-sub-selected.svg) no-repeat center/100%;
}

[class^=_ipt-check-box]:hover input:not(:checked):not(:disabled) + i {
  background-color: var(--gray-40);
}

[class^=_ipt-check-box]:hover input:not(:checked):not(:disabled) + i::after {
  background: url(../images/common/check-sub-hover.svg) no-repeat center/100%;
}

[class^=_ipt-check-box] input:disabled + i,
[class^=_ipt-check-box] input:checked:disabled + i {
  border: 1px solid var(--gray-40);
  color: var(--gray-300);
}

[class^=_ipt-check-box] input:disabled + i::after {
  background: url(../images/common/check-sub-disabled.svg) no-repeat center/100%;
}

[class^=_ipt-check-box] input:checked:disabled + i::after {
  background: url(../images/common/check-sub-disabled-selected.svg) no-repeat center/100%;
}

/* radio */
[class^=_ipt-radio-main] {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  color: var(--gray-900);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.64px;
}

[class^=_ipt-radio-main] input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -1;
}

[class^=_ipt-radio-main] input + i {
  display: flex;
  gap: 8px;
  align-items: center;
}

[class^=_ipt-radio-main] input + i::before {
  content: "";
  display: inline-flex;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background: url(../images/common/radio-default.svg) no-repeat center/100%;
}

[class^=_ipt-radio-main] input:checked + i::before {
  background: url(../images/common/radio-selected.svg) no-repeat center/100%;
}

[class^=_ipt-radio-main]:hover input:not(:checked):not(:disabled) + i::before {
  background: url(../images/common/radio-hover.svg) no-repeat center/100%;
}

[class^=_ipt-radio-main] input:disabled + i,
[class^=_ipt-radio-main] input:checked:disabled + i {
  color: var(--gray-300);
}

[class^=_ipt-radio-main] input:disabled + i::before {
  background: url(../images/common/radio-disabled.svg) no-repeat center/100%;
}

[class^=_ipt-radio-main] input:checked:disabled + i::before {
  background: url(../images/common/radio-disabled-selected.svg) no-repeat center/100%;
}

[class^=_ipt-radio-main][class*=-small] {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-900);
  letter-spacing: -0.56px;
}

[class^=_ipt-radio-main][class*=-small] input + i::before {
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
}

[class^=_ipt-radio-box] {
  position: relative;
  display: flex;
}

[class^=_ipt-radio-box] input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -1;
}

[class^=_ipt-radio-box] input + i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--gray-60);
  background: var(--white);
  cursor: pointer;
  color: var(--gray-700);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.64px;
  white-space: nowrap;
}

[class^=_ipt-radio-box] input:checked + i {
  border: 1px solid var(--primary-p800);
  color: var(--primary-p800);
  font-weight: 600;
}

[class^=_ipt-radio-box]:hover input:not(:disabled) + i {
  background-color: var(--gray-40);
}

[class^=_ipt-radio-box] input:disabled + i {
  border-color: var(--gray-40);
  color: var(--gray-300);
  font-weight: 400;
}

/* chips */
[class^=_chip-box] {
  position: relative;
  display: flex;
}

[class^=_chip-box] input {
  position: absolute;
  margin: 0;
  inset: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[class^=_chip-box] input + i {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0 15px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid var(--gray-100);
  border-radius: 12px;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-900);
  letter-spacing: -0.72px;
}

[class^=_chip-box] input:checked + i {
  padding: 0 14px;
  border: 2px solid var(--primary-p800);
  color: var(--primary-p800);
  font-weight: 500;
}

[class^=_chip-box] input:disabled + i {
  border: 1px solid var(--gray-60);
  color: var(--gray-100);
}

[class^=_chip-box] input:checked:disabled + i {
  border: 1px solid var(--gray-100);
  color: var(--gray-300);
  font-weight: 400;
}

[class^=_chip-box] input:hover:not(:checked):not(:disabled) + i {
  border: 1px solid var(--gray-100);
  background-color: var(--gray-60);
}

[class^=_chip-box][class*=-small] input + i {
  height: 32px;
  padding: 0 12px;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: -0.64px;
}

[class^=_chip-box][class*=-small] input:checked + i {
  padding: 0 11px;
}

/* input */
.input-title {
  position: relative;
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-700);
  line-height: 21px;
  letter-spacing: -0.56px;
}

.input-title .sub {
  color: var(--gray-500);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.48px;
}

.input-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  position: relative;
  min-width: 200px;
  padding: 1px;
  background-color: var(--white);
  border-radius: 12px;
  border: 1px solid var(--gray-100);
}

.input-box input {
  display: flex;
  align-items: center;
  flex-basis: auto;
  width: 100%;
  height: 30px;
  padding: 11px 14px;
  border: 0 none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-900);
  letter-spacing: -0.64px;
  outline: transparent;
}

.input-box input::-webkit-input-placeholder,
.input-box input::-moz-placeholder,
.input-box input:-ms-input-placeholder,
.input-box input::-ms-input-placeholder,
.input-box input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-300);
}

.input-box:hover {
  border: 1px solid var(--gray-300);
}

.input-box.is-focusin {
  padding: 0;
  border: 2px solid var(--black);
}

.input-box.is-error {
  padding: 0;
  border: 2px solid var(--red-700);
}

.input-box input:disabled {
  margin: -2px;
  padding: 12px 14px;
  border: 1px solid var(--gray-100);
  background-color: var(--gray-40);
  color: var(--gray-300);
  opacity: 1;
}

.input-box .util-box {
  display: flex;
  align-items: center;
  margin-right: 14px;
}

.input-box input:disabled + .util-box {
  position: absolute;
  right: 0;
}

.input-box .util-box .icon-search {
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z' stroke='%23191B1E' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: 20px auto;
  border: 0 none;
  line-height: 1;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  font-size: 0;
}

.input-box input:disabled + .util-box .icon-search {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z' stroke='%23969DAB' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  pointer-events: none;
}

.input-box .util-box .count {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-p300);
  line-height: 21px;
  letter-spacing: -0.56px;
  word-break: keep-all;
}

.input-box .util-box .ipt-mask {
  display: inline-flex;
  width: 24px;
  height: 24px;
  background: url(../images/icons/eye-off.svg) no-repeat 50% 50%/20px auto;
  border: 0 none;
  line-height: 1;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  font-size: 0;
  opacity: 0;
}

.input-box .util-box .ipt-mask.off {
  opacity: 1;
  background-image: url(../images/icons/eye-off.svg);
}

.input-box .util-box .ipt-mask.on {
  opacity: 1;
  background-image: url(../images/icons/eye.svg);
}

.input-box .util-box .calendar {
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 2V6M8 2V6M3 10H21M5 4H19C20.1046 4 21 4.89543 21 6V20C21 21.1046 20.1046 22 19 22H5C3.89543 22 3 21.1046 3 20V6C3 4.89543 3.89543 4 5 4Z' stroke='%23191B1E' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: 20px auto;
  border: 0 none;
  line-height: 1;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  font-size: 0;
}

.input-box input:disabled + .util-box .calendar {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 2V6M8 2V6M3 10H21M5 4H19C20.1046 4 21 4.89543 21 6V20C21 21.1046 20.1046 22 19 22H5C3.89543 22 3 21.1046 3 20V6C3 4.89543 3.89543 4 5 4Z' stroke='%23969DAB' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  pointer-events: none;
}

.input-help {
  margin-top: 8px;
  padding: 0 4px;
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-500);
  word-break: break-word;
}

.input-help.is-error {
  color: var(--red-600);
}

.input-help.is-disabled {
  color: var(--gray-300);
}

/* tooltip */
.tooltip-title {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.tooltip-trigger {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  text-indent: -9999px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8V12M12 16H12.01M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z' stroke='%237A8394' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  color: transparent;
  font-size: 0;
}

.tooltip-title .input-title {
  margin-bottom: 0;
}

.count-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count-title .count {
  color: var(--gray-400);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.56px;
}

/* switch */
[class^=_switch-box] {
  --w:50px;
  --h:30px;
  --p:2px;
  --thumb:calc(var(--h) - var(--p) * 2);
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

[class^=_switch-box] .switch {
  position: relative;
  display: inline-block;
  width: var(--w);
  height: var(--h);
  order: 2;
}

[class^=_switch-box] .switch .slider {
  position: absolute;
  inset: 0;
  background: var(--gray-100);
  border-radius: calc(var(--h) / 2);
  transition: background-color 0.2s ease;
}

[class^=_switch-box] .switch .slider::before {
  content: "";
  position: absolute;
  inset: 0;
  left: var(--p);
  top: var(--p);
  width: var(--thumb);
  height: var(--thumb);
  background: var(--white);
  border-radius: 50%;
  transition: transform 0.2s ease;
}

[class^=_switch-box] input {
  position: absolute;
  opacity: 0;
  margin: 0;
  left: calc(50% - var(--w) / 2);
  width: var(--w);
  height: var(--h);
  cursor: pointer;
  z-index: 1;
}

[class^=_switch-box] input:checked + .switch .slider {
  background-color: var(--primary-p800);
}

[class^=_switch-box] input:checked + .switch .slider::before {
  transform: translateX(calc(var(--w) - var(--thumb) - var(--p) * 2));
}

[class^=_switch-box] .switch-label {
  font-size: 18px;
  font-weight: 400;
  color: #626A7A;
  order: 2;
}

[class^=_switch-box] .switch-label.on {
  text-align: left;
}

[class^=_switch-box] .switch-label.off {
  text-align: right;
  order: 1;
}

[class^=_switch-box] input:checked ~ .switch-label.on {
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-900);
}

[class^=_switch-box] input:not(:checked) ~ .switch-label.off {
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-900);
}

[class^=_switch-box] input:hover + .switch .slider {
  background-color: var(--gray-300);
}

[class^=_switch-box] input:checked:hover + .switch .slider {
  background-color: var(--primary-p900);
}

[class^=_switch-box][class*=-small] {
  --w:36px;
  --h:20px;
  --p:2px;
  --thumb:calc(var(--h) - var(--p) * 2);
}

/* tabs */
.tab-box {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.tab-box [class^=_tabs] {
  gap: 24px;
  display: inline-flex;
  min-width: calc(100% - 40px);
}

.tab-box [class^=_tabs-sub] {
  gap: 8px;
}

.tab-box [class^=_tabs] > li {
  z-index: 1;
}

[class^=_tabs-main] {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 56px;
  box-sizing: border-box;
}

[class^=_tabs-main] > li {
  flex: 1;
  display: flex;
  align-content: stretch;
  position: relative;
}

[class^=_tabs-main] > li a {
  flex: auto;
  align-content: center;
  text-align: center;
  line-height: 56px;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-500);
}

[class^=_tabs-main] > li a:hover {
  color: var(--gray-600);
}

[class^=_tabs-main] > li.on a {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-900);
}

[class^=_tabs-main] > li.on a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--gray-900);
}

[class^=_tabs-main]::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid var(--gray-100);
}

[class^=_tabs-sub] {
  display: flex;
  flex-direction: row;
  height: 40px;
  gap: 8px;
  box-sizing: border-box;
}

[class^=_tabs-sub] > li {
  flex: 0;
}

[class^=_tabs-sub] > li a {
  display: flex;
  min-width: 73px;
  padding: 8px 16px;
  border-radius: 42px;
  background-color: var(--gray-40);
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-600);
  letter-spacing: -0.64px;
  line-height: 24px;
  white-space: nowrap;
  transition: background-color 300ms;
}

[class^=_tabs-sub] > li a:hover {
  background-color: var(--primary-p100);
  color: var(--gray-900);
  font-weight: 600;
}

[class^=_tabs-sub] > li.on a {
  background-color: var(--primary-p800);
  color: var(--white);
}

@media screen and (max-width: 767px) {
  .tab-box,
  [class^=_tabs-sub] {
    scrollbar-width: none;
  }
  .tab-box::-webkit-scrollbar,
  [class^=_tabs-sub]::-webkit-scrollbar {
    display: none;
  }
}
/* indicator */
.paging {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.paging a, .paging .shortening {
  flex: 0 0 24px;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.paging .arrow {
  display: flex;
  gap: 8px;
}

.paging .arrow a {
  line-height: 1;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  font-size: 0;
  background-size: 24px 24px;
}

.paging .arrow a.disabled {
  pointer-events: none;
}

.paging .arrow a.first {
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M13%2017L18%2012L13%207M6%2017L11%2012L6%207%22%20stroke%3D%22%23191B1E%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E") no-repeat 50% 50%;
  transform: rotate(180deg);
}

.paging .arrow a.first.disabled {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M13%2017L18%2012L13%207M6%2017L11%2012L6%207%22%20stroke%3D%22%23CDD1DA%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

.paging .arrow a.prev {
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9%2016.6309L14%2011.6309L9%206.63086%22%20stroke%3D%22%23191B1E%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E") no-repeat 50% 50%;
  transform: rotate(180deg);
}

.paging .arrow a.prev.disabled {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9%2016.6309L14%2011.6309L9%206.63086%22%20stroke%3D%22%23CDD1DA%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

.paging .arrow a.next {
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9%2016.6309L14%2011.6309L9%206.63086%22%20stroke%3D%22%23191B1E%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E") no-repeat 50% 50%;
}

.paging .arrow a.next.disabled {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9%2016.6309L14%2011.6309L9%206.63086%22%20stroke%3D%22%23CDD1DA%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

.paging .arrow a.last {
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M13%2017L18%2012L13%207M6%2017L11%2012L6%207%22%20stroke%3D%22%23191B1E%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E") no-repeat 50% 50%;
}

.paging .arrow a.last.disabled {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M13%2017L18%2012L13%207M6%2017L11%2012L6%207%22%20stroke%3D%22%23CDD1DA%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

.paging .count {
  display: flex;
  gap: 6px;
}

.paging .count a, .paging .count .shortening {
  border-radius: 24px;
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-700);
}

.paging .count a.current, .paging .count .shortening.current {
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-p800);
}

[class^=_indicator] {
  display: flex;
  gap: 4px;
}

[class^=_indicator] .bullet {
  display: block;
  width: 8px;
  height: 8px;
  background: var(--gray-100);
  border-radius: 50%;
}

[class^=_indicator] .bullet.active {
  width: 16px;
  background: var(--gray-900);
  border-radius: 4px;
}

[class^=_indicator][class*=-small] .bullet {
  width: 6px;
  height: 6px;
}

[class^=_indicator][class*=-small] .bullet.active {
  width: 12px;
  border-radius: 3px;
}

/* segment */
[class^=_segment] {
  display: flex;
  flex-direction: row;
  align-content: center;
  min-width: 360px;
  height: 48px;
  padding: 4px;
  background-color: #E7E9EF;
  border-radius: var(--radius-8);
  gap: 4px;
}

[class^=_segment] > li {
  flex: 1;
  display: flex;
  align-content: stretch;
}

[class^=_segment] > li a {
  flex: auto;
  text-align: center;
  line-height: 40px;
  padding: 0 10px;
  border-radius: var(--radius-8);
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-500);
  letter-spacing: -0.64px;
}

[class^=_segment] > li a:hover {
  background-color: var(--gray-100);
}

[class^=_segment] > li.on a {
  background-color: var(--white);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0784313725);
  font-weight: 600;
  color: var(--gray-900);
}

[class^=_segment][class*=-small] {
  height: 40px;
}

[class^=_segment][class*=-small] > li a {
  line-height: 32px;
  font-size: 14px;
  letter-spacing: -0.56px;
}

/* divider */
[class^=_divider-ver] {
  display: inline-block;
  width: 1px;
  height: 32px;
}

[class^=_divider-ver][class*=-ver-1] {
  background-color: var(--black);
}

[class^=_divider-ver][class*=-ver-2] {
  background-color: var(--gray-100);
}

[class^=_divider-ver][class*=-ver-3] {
  background-color: var(--gray-60);
}

[class^=_divider-ver][class*=-ver-4] {
  background-color: var(--primary-p200);
}

[class^=_divider-hor] {
  display: block;
  width: 320px;
  height: 1px;
}

[class^=_divider-hor][class*=-hor-1] {
  background-color: var(--black);
}

[class^=_divider-hor][class*=-hor-2] {
  background-color: var(--gray-100);
}

[class^=_divider-hor][class*=-hor-3] {
  background-color: var(--gray-60);
}

[class^=_divider-hor][class*=-hor-4] {
  background-color: var(--primary-p200);
}

[class^=_divider-group] {
  display: block;
  width: 320px;
  height: 10px;
}

[class^=_divider-group][class*=-group-1] {
  background-color: var(--gray-100);
}

[class^=_divider-group][class*=-group-2] {
  background-color: var(--gray-60);
}

@media screen and (max-width: 767px) {
  [class^=_divider-hor],
  [class^=_divider-group] {
    width: 100%;
  }
}
/* progress */
.step-hor .step {
  display: flex;
}

.step-hor .step > li {
  flex: 1;
  text-align: center;
}

.step-hor .step > li + li::before {
  content: "";
  position: relative;
  left: calc(-50% + 12px);
  top: 13px;
  display: block;
  border-top: 1px solid #CDD1DA;
}

.step-hor .step .num {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto 8px;
  border-radius: 50%;
  background-color: #CDD1DA;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 24px;
  overflow: hidden;
}

.step-hor .step .txt {
  font-size: 14px;
  font-weight: 600;
  color: #626A7A;
}

.step-hor .step > li.current .num {
  background-color: var(--primary-p800);
}

.step-hor .step > li.current .txt {
  color: var(--primary-p800);
}

.step-hor .step > li.current::before,
.step-hor .step > li.done::before {
  border-color: var(--primary-p800);
}

.step-hor .step > li.done .num {
  background-color: var(--primary-p800);
  color: transparent;
}

.step-hor .step > li.done .num::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M26.6673%208L12.0007%2022.6667L5.33398%2016%22%20stroke%3D%22%23fff%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
  background-size: 16px 16px;
}

.step-hor .step > li.done .txt {
  color: var(--primary-p800);
}

.step-line ul {
  display: flex;
  gap: 8px;
}

.step-line ul li {
  flex: 1;
}

.step-line ul li:last-child {
  padding-right: 20px;
}

.step-line ul li .step-button {
  display: flex;
  width: 100%;
  min-width: 120px;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.step-line ul li .bar {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 1;
  background: #CDD1DA;
}

.step-line ul li .step-title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 6px;
}

.step-line ul li .step-txt {
  font-weight: 500;
  font-size: 14px;
  color: #969DAB;
  line-height: 1.5;
  vertical-align: middle;
}

.step-line ul li .step-bedge {
  display: inline-block;
  padding: 2px 6px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  background: #CDD1DA;
}

.step-line ul li.on .bar {
  background: var(--primary-p800);
}

.step-line ul li.on .step-txt {
  color: var(--primary-p800);
}

.step-line ul li.on .step-bedge {
  background: var(--primary-p800);
}

@media screen and (max-width: 767px) {
  .step-line {
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .step-line::-webkit-scrollbar {
    height: 0;
  }
}
/* badge */
[class^=_badge] {
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  background-color: #fff;
  font-weight: 600;
}

[class^=_badge-medium] {
  height: 28px;
  padding: 0 8px;
  border-radius: 15px;
  font-size: 14px;
  letter-spacing: -0.28px;
}

[class^=_badge-small] {
  height: 22px;
  padding: 0 6px;
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: -0.24px;
}

[class^=_badge][class*=-primary] {
  background-color: var(--primary-p50);
  color: var(--primary-p800);
}

[class^=_badge][class*=-gray] {
  background-color: var(--primary-p50);
  color: var(--gray-600);
}

[class^=_badge][class*=-blue] {
  background-color: var(--blue-50);
  color: var(--blue-700);
}

[class^=_badge][class*=-red] {
  background-color: var(--red-50);
  color: var(--red-500);
}

[class^=_badge][class*=-yellow] {
  background-color: var(--yellow-50);
  color: var(--yellow-700);
}

[class^=_badge][class*=-green] {
  background-color: var(--green-50);
  color: var(--green-700);
}

[class^=_badge][class*=-solid-primary] {
  background-color: var(--primary-p800);
  color: var(--white);
}

[class^=_badge][class*=-solid-gray] {
  background-color: var(--gray-500);
  color: var(--white);
}

[class^=_badge][class*=-line-primary] {
  background-color: var(--white);
  border: 1px solid var(--primary-p300);
  color: var(--primary-p800);
}

[class^=_badge][class*=-line-gray-1] {
  background-color: var(--white);
  border: 1px solid var(--gray-500);
  color: var(--gray-600);
}

[class^=_badge][class*=-line-gray-2] {
  background-color: var(--white);
  border: 1px solid var(--gray-100);
  color: var(--gray-600);
}

/* table */
.scrollable-table {
  position: relative;
}

[class^=_table] {
  overflow-x: auto;
  border-top: 1px solid var(--gray-60);
}

[class^=_table] table {
  width: 100%;
  table-layout: fixed;
}

[class^=_table] th,
[class^=_table] td {
  padding: 12px;
  border-bottom: 1px solid var(--gray-60);
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  color: var(--gray-700);
  letter-spacing: -0.64px;
}

[class^=_table-small] th,
[class^=_table-small] td {
  font-size: 14px;
}

[class^=_table] th {
  background-color: var(--gray-40);
  font-weight: 600;
}

[class^=_table] td {
  background-color: var(--white);
  font-weight: 400;
}

[class^=_table] tbody th.left,
[class^=_table] tbody td.left {
  text-align: left;
}

[class^=_table] tbody th.right,
[class^=_table] tbody td.right {
  text-align: right;
  padding-right: 20px;
}

caption {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

@media screen and (max-width: 767px) {
  .scrollable-table:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    background: linear-gradient(270deg, rgba(35, 34, 88, 0.08) 0%, rgba(35, 34, 88, 0) 100%);
    border-radius: 0 8px 8px 0;
  }
}
:root {
  --space-2: 2px;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
}

.hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px !important;
  clip: rect(0 0 0 0);
}

.noData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  padding: 100px 0;
}
.noData p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-700);
  text-align: center;
}
.noData p:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto 20px;
  background: url(/static/images/common/ico_nodata.png) no-repeat 50% 50%/100% auto;
}
.noData .btnArea {
  margin-top: 20px;
}

a:focus {
  outline: solid 2px #191b1e !important;
}

/*
@media (min-width: 1200px) {
  font-size: 22px;
}

@media (max-width: 768px) {
  font-size: 16px;
}
*/