.search-box.underline {
  width: 100%;
  max-width: 1200px;
}
.search-box.underline .input-box {
  padding: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--gray-100);
}
.search-box.underline .input-box input {
  padding: var(--space-16) 0;
}
@media (max-width: 767px) {
  .search-box.underline .input-box input {
    height: var(--space-24);
  }
}
.search-box.underline + .contents > .list-total {
  margin-top: var(--space-56);
}
@media (max-width: 767px) {
  .search-box.underline + .contents > .list-total {
    margin-top: var(--space-40);
  }
}

.tab-wrapper {
  padding: var(--space-12) 0;
  margin: var(--space-20) 0 0 0;
}
@media (max-width: 767px) {
  .tab-wrapper {
    margin: var(--space-12) 0 0 0;
  }
}
.tab-wrapper + .contents > .list-total {
  margin-top: calc(var(--space-56) - var(--space-12));
}
@media (max-width: 767px) {
  .tab-wrapper + .contents > .list-total {
    margin-top: calc(var(--space-40) - var(--space-12));
  }
}
.tab-wrapper::after {
  height: 0;
}
.tab-wrapper .tab-box {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.list-total {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .list-total {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.list-total {
  display: flex;
  justify-content: flex-start;
  margin-top: var(--space-32);
  margin-bottom: var(--space-16);
  color: var(--gray-700);
}
@media (max-width: 767px) {
  .list-total {
    margin-top: var(--space-16);
    margin-bottom: var(--space-12);
  }
}
.list-total mark,
.list-total em {
  color: var(--primary-p600);
  font-style: normal;
  font-weight: 600;
  margin-left: var(--space-4);
}

.faq .accordion .accordion-header {
  gap: var(--space-20);
}
.faq .accordion .accordion-cont .is-warning {
  color: var(--red-800);
}
.faq .accordion .accordion-cont .is-warning::before {
  background-color: var(--red-800);
}
.faq .accordion .accordion-cont .is-warning [class^=list-] > li {
  color: inherit;
}
.faq .list-title-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: var(--space-2);
}
.faq .list-no,
.faq .list-category {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .faq .list-no,
  .faq .list-category {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.faq .list-no {
  width: 40px;
  text-align: left;
  color: var(--gray-700);
}
.faq .list-category {
  color: var(--gray-600);
  line-height: 1.5;
}
.faq mark {
  padding: 0;
  color: var(--primary-p600);
  background-color: transparent;
}

.notice ul.notice-list {
  border-top: 1px solid var(--gray-900);
}
.notice ul.notice-list li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-60);
}
.notice ul.notice-list li .list-no {
  width: 120px;
  padding: 0 var(--space-20);
  text-align: center;
  color: var(--gray-700);
}
.notice ul.notice-list li .list-title-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-6);
  flex: 1;
  min-width: 0;
  margin: var(--space-20) var(--space-20);
}
.notice ul.notice-list li .list-title-wrap a.list-title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .notice ul.notice-list li .list-title-wrap a.list-title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
.notice ul.notice-list li .list-title-wrap a.list-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 0 1 auto;
  max-width: 100%;
  color: var(--gray-700);
}
.notice ul.notice-list li .list-title-wrap ._badge-small-red {
  flex: 0 0 auto;
}
.notice ul.notice-list li .list-date {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .notice ul.notice-list li .list-date {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.notice ul.notice-list li .list-date {
  width: 200px;
  padding: 0 var(--space-20);
  text-align: center;
  color: var(--gray-500);
}
.notice ._btn-wrap {
  margin-top: var(--space-56);
}

.notice-view .view-head {
  padding-bottom: var(--space-32);
  border-bottom: 1px solid var(--gray-900);
}
.notice-view .view-head .view-title {
  color: var(--gray-900);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice-view .view-head .view-date {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .notice-view .view-head .view-date {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
  }
}
.notice-view .view-head .view-date {
  margin-top: var(--space-4);
  color: var(--gray-500);
}
.notice-view .view-body {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .notice-view .view-body {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.notice-view .view-body {
  padding: var(--space-56) 0;
  color: var(--gray-700);
}
.notice-view .view-body p + p {
  margin-top: var(--space-16);
}
.notice-view .view-body .is-warning {
  color: var(--red-800);
}
.notice-view .view-link {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .notice-view .view-link {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.notice-view .view-link {
  border-bottom: 1px solid var(--gray-60);
}
.notice-view .view-link dl {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--gray-60);
  gap: 0;
}
.notice-view .view-link dl.is-disabled dd {
  color: var(--gray-300);
}
.notice-view .view-link dt {
  padding: var(--space-20);
  color: var(--gray-700);
  white-space: nowrap;
}
.notice-view .view-link dd {
  padding: var(--space-20);
  color: var(--gray-600);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-room {
  margin-top: calc(var(--space-56) - var(--space-12));
}
.form-room .form-group h2 {
  margin-bottom: var(--space-24);
}
.form-room .form-group + .form-group {
  margin-top: var(--space-56);
}
.form-room .form-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--space-16);
}
.form-room .form-list > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-16);
  min-height: 156px;
  padding: var(--space-24) var(--space-20) var(--space-20);
  background-color: var(--gray-20);
  border-radius: var(--radius-16);
}
.form-room .form-list > li .form-name {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
  color: var(--gray-600);
}
@media screen and (max-width: 767px) {
  .form-room .form-list > li .form-name {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.form-room .form-list > li ._btn-wrap button {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.56px;
  color: var(--gray-900);
  min-width: 100%;
}
@media screen and (max-width: 767px) {
  .form-room .form-list > li ._btn-wrap button {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.56px;
  }
}
.form-room .form-list > li ._btn-wrap button::before {
  background-color: var(--gray-300);
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-12);
  padding: var(--space-100) 0;
  background-color: var(--white);
  border-top: 1px solid var(--gray-900);
}
.no-data::before {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background: url("/static/images/common/feedback_nodata.svg") no-repeat center/100% auto;
}
.no-data ._btn-wrap {
  margin-top: var(--space-12);
}

@media (max-width: 1023px) {
  .form-room .form-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 767px) {
  .faq .list-no {
    display: none;
  }
  .faq .list-category {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .faq .list-category {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
  }
}
@media (max-width: 767px) {
  .notice ul.notice-list li {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-4);
    padding: var(--space-16) 0;
  }
  .notice ul.notice-list li .list-no {
    display: none;
  }
  .notice ul.notice-list li .list-title-wrap {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-4);
    margin: 0;
  }
  .notice ul.notice-list li .list-title-wrap a.list-title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.32px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 3em;
    white-space: normal;
    width: 100%;
    color: var(--gray-700);
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .notice ul.notice-list li .list-title-wrap a.list-title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
@media (max-width: 767px) {
  .notice ul.notice-list li .list-title-wrap ._badge-small-red {
    order: -1;
  }
  .notice ul.notice-list li .list-date {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
    width: auto;
    padding: 0;
    text-align: left;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .notice ul.notice-list li .list-date {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
  }
}
@media (max-width: 767px) {
  .notice ._btn-wrap {
    margin-top: var(--space-40);
  }
  .notice-view .view-head {
    padding-bottom: var(--space-24);
  }
  .notice-view .view-body {
    padding: var(--space-40) 0;
  }
  .notice-view .view-link dl {
    gap: var(--space-12);
  }
  .notice-view .view-link dt {
    padding: var(--space-16) 0;
  }
  .notice-view .view-link dd {
    padding: var(--space-16) 0;
  }
}
@media (max-width: 767px) {
  .form-room {
    margin-top: calc(var(--space-40) - var(--space-12));
  }
  .form-room .form-group h2 {
    margin-bottom: var(--space-12);
  }
  .form-room .form-group + .form-group {
    margin-top: var(--space-40);
  }
  .form-room .form-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--space-12);
  }
  .form-room .form-list > li {
    min-height: 120px;
  }
}