.merchant-loan-service {
  background-color: #ededff;
}
.merchant-loan-service .visual-item::after {
  background: url(/static/images/fs/bg_visual_merchantloan.png) no-repeat 0 0/auto 100%;
}
.merchant-loan-service .visual-item .bg-text {
  background-color: var(--white);
  color: var(--point-800);
}

.merchant-loan-guide {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
  padding-bottom: var(--space-32);
  margin-bottom: var(--space-48);
  border-bottom: 1px solid var(--gray-60);
}
.merchant-loan-guide .guide-item {
  width: 100%;
}
.merchant-loan-guide .guide-item .inner {
  display: flex;
  justify-content: space-between;
  gap: var(--space-48);
}
.merchant-loan-guide .guide-item .inner > .text-area ._font-title-2 > span {
  display: block;
  margin-bottom: var(--space-8);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
  color: var(--gray-500);
}
.merchant-loan-guide .guide-item .inner > .text-area .loan-infor {
  margin-top: var(--space-56);
  display: flex;
  flex-direction: column;
  gap: var(--space-20);
}
.merchant-loan-guide .guide-item .inner > .text-area .loan-infor .item {
  gap: var(--space-4);
}
.merchant-loan-guide .guide-item .inner > .text-area .loan-infor .title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .merchant-loan-guide .guide-item .inner > .text-area .loan-infor .title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
.merchant-loan-guide .guide-item .inner > .text-area .loan-infor .title {
  color: var(--gray-900);
}
.merchant-loan-guide .guide-item .inner > .text-area .loan-infor ._font-title-4 {
  color: var(--point-600);
}
.merchant-loan-guide .guide-item .inner .item-wrap {
  display: flex;
  flex-basis: 832px;
  max-width: 832px;
  flex-direction: column;
  gap: var(--space-16);
}
.merchant-loan-guide .guide-item .inner .item-wrap .item {
  background-color: var(--gray-20);
  border-radius: var(--radius-16);
  padding: var(--space-48);
}
.merchant-loan-guide .guide-item .inner .item-wrap .item > .text-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
.merchant-loan-guide .guide-item .inner .item-wrap .item > .text-area .point-text {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.72px;
  color: var(--red-700);
}
.merchant-loan-guide .guide-item .inner .item-wrap .item::after {
  content: "";
  display: block;
  margin: var(--space-24) 0 0 auto;
  width: 292px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
}
.merchant-loan-guide .guide-item .inner .item-wrap .item:nth-child(1)::after {
  background-image: url(/static/images/fs/img_merchantloan01.png);
}
.merchant-loan-guide .guide-item .inner .item-wrap .item:nth-child(2)::after {
  background-image: url(/static/images/fs/img_merchantloan02.png);
}
.merchant-loan-guide .guide-item .inner .item-wrap .item:nth-child(3)::after {
  background-image: url(/static/images/fs/img_merchantloan03.png);
}
.merchant-loan-guide .guide-item .inner .item-wrap .bg-item {
  background-color: var(--gray-20);
  border-radius: var(--radius-16);
  padding: var(--space-48);
}
.merchant-loan-guide .guide-item .inner .item-wrap .bg-item .list-noti {
  gap: var(--space-6);
}
.merchant-loan-guide .guide-item .inner .item-wrap .bg-item .list-ast {
  gap: var(--space-6);
  margin-top: var(--space-16);
}
.merchant-loan-guide .guide-item .inner .item-wrap .bg-item .list-ast > li {
  color: var(--point-600);
}
.merchant-loan-guide .guide-item .inner .item-wrap .bg-item .list-ast + .list-noti {
  margin-top: var(--space-6);
}
.merchant-loan-guide .guide-item .inner .item-wrap .bg-item .list-noti > .underline {
  text-decoration: underline;
}
.merchant-loan-guide .guide-item .inner .item-wrap .bg-item .text-right {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .merchant-loan-guide .guide-item .inner .item-wrap .bg-item .text-right {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.merchant-loan-guide .guide-item .inner .item-wrap .bg-item .text-right {
  margin-bottom: var(--space-24);
  text-align: right;
  margin-top: var(--space-12);
  color: var(--gray-500);
}

.popup-content .text-item {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}
.popup-content .text-item > .item {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.popup-content .text-item > .item .title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.72px;
  color: var(--gray-700);
}
.popup-content .text-item > .item .text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .popup-content .text-item > .item .text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.popup-content .text-item > .item .text {
  color: var(--gray-700);
}
.popup-content .qr-img {
  text-align: center;
  margin-bottom: var(--space-16);
}
.popup-content .list-noti {
  gap: var(--space-8);
}
.popup-content .warning-box .list-noti {
  margin-top: 0;
}

.store-infor {
  padding: var(--space-32) 0 var(--space-48);
}
.store-infor .store-name {
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .store-infor .store-name {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.store-infor .store-name {
  color: var(--gray-700);
  margin-bottom: var(--space-8);
}

.full-bg {
  background-color: var(--gray-40);
  max-width: none !important;
}
.full-bg .contents {
  max-width: 1200px;
  margin: 48px auto 100px;
}

.loan-infor-area {
  background-color: var(--white);
  border-radius: var(--radius-24);
  padding: var(--space-32) var(--space-40);
}
.loan-infor-area ._font-title-4 {
  padding-bottom: var(--space-16);
  border-bottom: 1px solid var(--gray-60);
}
.loan-infor-area .item-wrap {
  display: flex;
  justify-content: space-between;
  gap: var(--space-24);
  padding-top: var(--space-24);
}
.loan-infor-area .item-wrap .item {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: var(--space-32);
}
.loan-infor-area .item-wrap .item .data-infor {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loan-infor-area .item-wrap .item .data-infor dt {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .loan-infor-area .item-wrap .item .data-infor dt {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
.loan-infor-area .item-wrap .item .data-infor dt {
  color: var(--gray-500);
}
.loan-infor-area .item-wrap .item .data-infor dt.point-text {
  color: var(--point-600);
}
.loan-infor-area .item-wrap .item .data-infor .money {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -1.44px;
  padding-top: var(--space-4);
}
.loan-infor-area .item-wrap .item .data-infor .badge {
  display: inline-flex;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
  background-color: var(--primary-p50);
  border-radius: var(--radius-8);
  color: var(--gray-700);
  margin-bottom: var(--space-8);
  padding: var(--space-2) var(--space-8);
}

.deposit-summary {
  display: flex;
  justify-content: space-between;
  gap: var(--space-16);
  padding: var(--space-48) 0;
  margin: var(--space-48) 0;
  border-top: 1px solid var(--gray-60);
  border-bottom: 1px solid var(--gray-60);
}
.deposit-summary .item-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-20);
  flex-basis: 864px;
  background-color: var(--white);
  border-radius: var(--radius-20);
  padding: var(--space-32) var(--space-40);
}
.deposit-summary .item-wrap .data-infor {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.deposit-summary .item-wrap .data-infor dt {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .deposit-summary .item-wrap .data-infor dt {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.deposit-summary .item-wrap .data-infor dt {
  color: var(--gray-500);
}
.deposit-summary .item-wrap .data-infor dd {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.72px;
  color: var(--gray-900);
}

@media (max-width: 1023px) {
  .merchant-loan-guide {
    gap: var(--space-40);
  }
  .merchant-loan-guide .guide-item .inner {
    flex-direction: column;
    gap: var(--space-24);
  }
  .merchant-loan-guide .guide-item .inner > .text-area ._font-title-2 > span {
    margin-bottom: var(--space-4);
  }
  .merchant-loan-guide .guide-item .inner > .text-area .loan-infor {
    margin-top: var(--space-16);
    gap: var(--space-8);
  }
  .merchant-loan-guide .guide-item .inner > .text-area .loan-infor .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .merchant-loan-guide .guide-item .inner .item-wrap {
    flex-basis: auto;
    max-width: none;
    gap: var(--space-12);
  }
  .merchant-loan-guide .guide-item .inner .item-wrap .item {
    padding: var(--space-24);
  }
  .merchant-loan-guide .guide-item .inner .item-wrap .item > .text-area {
    gap: var(--space-4);
  }
  .merchant-loan-guide .guide-item .inner .item-wrap .item::after {
    content: "";
    display: block;
    margin: var(--space-40) 0 0 auto;
    width: 120px;
    height: 120px;
  }
  .merchant-loan-guide .guide-item .inner .item-wrap .bg-item {
    padding: var(--space-24);
  }
}
@media (max-width: 767px) {
  .merchant-loan-guide {
    padding-bottom: var(--space-40);
    margin-bottom: var(--space-40);
  }
  .merchant-loan-guide .guide-item .inner .item-wrap .bg-item {
    margin-top: -8px;
  }
  .merchant-loan-guide .guide-item .inner .item-wrap .bg-item ._table > table {
    min-width: 560px;
  }
  .merchant-loan-guide .guide-item .inner .item-wrap .bg-item ._btn-wrap {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .popup-content .qr-img {
    margin-bottom: var(--space-8);
  }
  .popup-content .list-noti {
    gap: var(--space-6);
  }
}