.visual-wrap {
  background-color: #ededff;
}
.visual-wrap .visual-item .bg-text {
  background-color: var(--white);
  color: var(--point-800);
}

.merchant-loan-service::after {
  background: url(/static/images/fs/bg_visual_merchantloan.png) no-repeat 0 0/auto 100%;
}

.fs-intro-guide {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}
.fs-intro-guide .guide-item {
  width: 100%;
}
.fs-intro-guide .guide-item .text-area {
  min-width: 270px;
}
.fs-intro-guide .guide-item .text-area ._font-title-2 {
  white-space: pre;
}
.fs-intro-guide .guide-item .text-area .sub-text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
  color: var(--gray-700);
  margin-top: var(--space-16);
}
.fs-intro-guide .guide-item .inner {
  display: flex;
  justify-content: space-between;
  gap: var(--space-48);
}
.fs-intro-guide .guide-item .inner > .text-area ._font-title-2 > span {
  display: block;
  margin-bottom: var(--space-8);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
  color: var(--gray-500);
  line-height: 30px;
}
.fs-intro-guide .guide-item .inner > .text-area .loan-infor {
  margin-top: var(--space-56);
  display: flex;
  flex-direction: column;
  gap: var(--space-20);
}
.fs-intro-guide .guide-item .inner > .text-area .loan-infor .item {
  gap: var(--space-4);
}
.fs-intro-guide .guide-item .inner > .text-area .loan-infor .title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .fs-intro-guide .guide-item .inner > .text-area .loan-infor .title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
.fs-intro-guide .guide-item .inner > .text-area .loan-infor .title {
  color: var(--gray-900);
}
.fs-intro-guide .guide-item .inner > .text-area .loan-infor ._font-title-4 {
  color: var(--point-600);
}
.fs-intro-guide .guide-item .inner .item-wrap {
  display: flex;
  flex-basis: 832px;
  max-width: 832px;
  flex-direction: column;
  gap: var(--space-16);
}
.fs-intro-guide .guide-item .inner .item-wrap .item {
  background-color: var(--gray-20);
  border-radius: var(--radius-16);
  padding: var(--space-48);
}
.fs-intro-guide .guide-item .inner .item-wrap .item > .text-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
.fs-intro-guide .guide-item .inner .item-wrap .item > .text-area .point-text {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.72px;
  color: var(--red-700);
}
.fs-intro-guide .guide-item .inner .item-wrap .item > .text-area .text {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .fs-intro-guide .guide-item .inner .item-wrap .item > .text-area .text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
.fs-intro-guide .guide-item .inner .item-wrap .item > .text-area .text {
  color: var(--gray-600);
}
.fs-intro-guide .guide-item .inner .item-wrap .item::after {
  content: "";
  display: block;
  margin: var(--space-24) 0 0 auto;
  width: 292px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
}
.fs-intro-guide .guide-item .inner .item-wrap .item:nth-child(1)::after {
  background-image: url(/static/images/fs/img_merchantloan01.png);
}
.fs-intro-guide .guide-item .inner .item-wrap .item:nth-child(2)::after {
  background-image: url(/static/images/fs/img_merchantloan02.png);
}
.fs-intro-guide .guide-item .inner .item-wrap .item:nth-child(3)::after {
  background-image: url(/static/images/fs/img_merchantloan03.png);
}
.fs-intro-guide .guide-item .inner .item-wrap.interest-rate-cut .item:nth-child(1)::after {
  background-image: url(/static/images/fs/img_interestrate01.png);
}
.fs-intro-guide .guide-item .inner .item-wrap.interest-rate-cut .item:nth-child(2)::after {
  background-image: url(/static/images/fs/img_interestrate02.png);
}
.fs-intro-guide .guide-item .inner .item-wrap.interest-rate-cut .item:nth-child(3)::after {
  background-image: url(/static/images/fs/img_interestrate03.png);
}
.fs-intro-guide .guide-item .inner .item-wrap .bg-item {
  background-color: var(--gray-20);
  border-radius: var(--radius-16);
  padding: var(--space-48);
}
.fs-intro-guide .guide-item .inner .item-wrap .bg-item .list-noti {
  gap: var(--space-6);
}
.fs-intro-guide .guide-item .inner .item-wrap .bg-item .list-noti + .list-ast {
  margin-top: var(--space-16);
}
.fs-intro-guide .guide-item .inner .item-wrap .bg-item .list-ast {
  gap: var(--space-6);
}
.fs-intro-guide .guide-item .inner .item-wrap .bg-item .list-ast > li.point-text {
  color: var(--point-600);
}
.fs-intro-guide .guide-item .inner .item-wrap .bg-item .list-ast + .list-noti {
  margin-top: var(--space-6);
}
.fs-intro-guide .guide-item .inner .item-wrap .bg-item .list-ast + .text {
  margin-top: var(--space-4);
}
.fs-intro-guide .guide-item .inner .item-wrap .bg-item .list-noti > .underline {
  text-decoration: underline;
}
.fs-intro-guide .guide-item .inner .item-wrap .bg-item .text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .fs-intro-guide .guide-item .inner .item-wrap .bg-item .text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.fs-intro-guide .guide-item .inner .item-wrap .bg-item .text {
  color: var(--gray-700);
}
.fs-intro-guide .guide-item .inner .item-wrap .bg-item .text + .list-ast {
  margin-top: var(--space-4);
}
.fs-intro-guide .guide-item .inner .item-wrap .bg-item .text-right {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .fs-intro-guide .guide-item .inner .item-wrap .bg-item .text-right {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.fs-intro-guide .guide-item .inner .item-wrap .bg-item .text-right {
  margin-bottom: var(--space-24);
  text-align: right;
  margin-top: var(--space-12);
  color: var(--gray-500);
}
.fs-intro-guide .guide-item .list-noti + .text-noti {
  margin-top: var(--space-20);
}
.fs-intro-guide .guide-item .text-noti {
  display: flex;
  flex-direction: column;
  gap: var(--space-20);
}
.fs-intro-guide .guide-item .text-noti dl {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  flex: 1;
}
.fs-intro-guide .guide-item .text-noti dl dt {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.72px;
  color: var(--gray-700);
}
.fs-intro-guide .guide-item .text-noti dl dd {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .fs-intro-guide .guide-item .text-noti dl dd {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.fs-intro-guide .guide-item .text-noti dl dd {
  color: var(--gray-700);
}
.fs-intro-guide + ._btn-wrap {
  margin-top: var(--space-56);
}

.popup-content .text-item {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}
.popup-content .text-item > .item {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.popup-content .text-item > .item .title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.72px;
  color: var(--gray-700);
}
.popup-content .text-item > .item .text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .popup-content .text-item > .item .text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.popup-content .text-item > .item .text {
  color: var(--gray-700);
}
.popup-content .qr-img {
  text-align: center;
  margin-bottom: var(--space-16);
}
.popup-content .list-noti {
  gap: var(--space-8);
}
.popup-content .warning-box .list-noti {
  margin-top: 0;
}

.dropdown-area {
  padding: var(--space-32) 0 var(--space-48);
}
.dropdown-area .label-title {
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .dropdown-area .label-title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.dropdown-area .label-title {
  color: var(--gray-700);
  margin-bottom: var(--space-8);
}

.full-bg {
  background-color: var(--gray-40);
  max-width: none !important;
}
.full-bg .contents {
  max-width: 1200px;
  margin: var(--space-48) auto var(--space-100);
}

.loan-infor-area {
  background-color: var(--white);
  border-radius: var(--radius-24);
  padding: var(--space-32) var(--space-40);
}
.loan-infor-area ._font-title-4 {
  padding-bottom: var(--space-16);
  border-bottom: 1px solid var(--gray-60);
}
.loan-infor-area .item-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space-32);
  padding-top: var(--space-24);
}
.loan-infor-area .item-wrap .item {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: var(--space-32);
  min-width: 547px;
}
.loan-infor-area .item-wrap .item:nth-child(2) {
  background-color: var(--gray-20);
  border-radius: var(--radius-12);
  padding: var(--space-16);
  flex: auto;
  min-width: auto;
}
.loan-infor-area .item-wrap .item:nth-child(2) .data-infor dd {
  min-width: 140px;
}
.loan-infor-area .item-wrap .item .data-infor {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.loan-infor-area .item-wrap .item .data-infor dt {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .loan-infor-area .item-wrap .item .data-infor dt {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
.loan-infor-area .item-wrap .item .data-infor dt {
  color: var(--gray-500);
  white-space: pre;
}
.loan-infor-area .item-wrap .item .data-infor dd {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
  color: var(--gray-700);
  white-space: pre;
}
.loan-infor-area .item-wrap .item .data-infor ._font-title-1 {
  padding-top: var(--space-4);
}

.summary-area {
  display: flex;
  justify-content: space-between;
  gap: var(--space-16);
  padding-top: var(--space-56);
}
.summary-area ._font-title-2 {
  white-space: pre;
}
.summary-area ._font-title-2 span {
  display: block;
  margin-top: var(--space-8);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
  color: var(--gray-600);
}
.summary-area .item-wrap {
  display: flex;
  flex-direction: column;
  flex-basis: 864px;
  gap: var(--space-16);
}
.summary-area .item-wrap .item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-20);
  background-color: var(--white);
  border-radius: var(--radius-20);
  padding: var(--space-32) var(--space-40);
}
.summary-area .item-wrap .item .data-infor {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.summary-area .item-wrap .item .data-infor dt {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .summary-area .item-wrap .item .data-infor dt {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.summary-area .item-wrap .item .data-infor dt {
  color: var(--gray-500);
}
.summary-area .item-wrap .item .data-infor dd {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .summary-area .item-wrap .item .data-infor dd {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.64px;
  }
}
.summary-area .item-wrap .item .data-infor dd {
  color: var(--gray-900);
}
.summary-area .item-wrap .item .data-infor-large {
  grid-column: 1/-1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--space-20);
  padding-bottom: var(--space-24);
  margin-bottom: var(--space-4);
  border-bottom: 1px solid var(--gray-60);
}
.summary-area .item-wrap .item .data-infor-large .data-infor {
  flex: 1;
}
.summary-area .item-wrap .item .data-infor-large .data-infor .point-text {
  color: var(--point-600);
}
.summary-area .item-wrap .item .data-infor-large .account-infor {
  display: flex;
  align-items: center;
  gap: var(--space-8);
}
.summary-area .item-wrap .item .data-infor-large .account-infor [class^=_badge] {
  white-space: pre;
}
.summary-area .item-wrap .item .warning-box {
  margin-top: var(--space-4);
  grid-column: 1/-1;
  width: 100%;
}
.summary-area .item-wrap .item .warning-box .warning-title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .summary-area .item-wrap .item .warning-box .warning-title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.summary-area .item-wrap .item .warning-box .warning-title {
  color: var(--gray-700);
}
.summary-area + ._btn-wrap {
  margin-top: var(--space-56);
}

.loan-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-24);
}
.loan-wrap .loan-infor-area {
  flex: 1;
  min-width: 680px;
}
.loan-wrap .loan-infor-area .sub-item {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: var(--space-32);
  background-color: var(--gray-20);
  border-radius: var(--radius-12);
  padding: var(--space-16);
  margin-top: var(--space-8);
}
.loan-wrap .loan-infor-area .sub-item .data-infor {
  flex: 1;
  display: flex;
  align-items: center;
}
.loan-wrap .loan-infor-area .sub-item .data-infor > * {
  flex: 1;
}
.loan-wrap .loan-infor-area .sub-item .data-infor dt {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .loan-wrap .loan-infor-area .sub-item .data-infor dt {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
  }
}
.loan-wrap .loan-infor-area .sub-item .data-infor dt {
  color: var(--gray-500);
}
.loan-wrap .loan-infor-area .sub-item .data-infor dd {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
  color: var(--gray-700);
}
.loan-wrap .function-area {
  flex: 1;
}

.function-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  background-color: var(--point-50);
  border-radius: var(--radius-20);
  padding: var(--space-32) var(--space-40);
}
.function-area .item {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}
.function-area .date-area .date-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.function-area .date-area .date-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.function-area .date-area .date-inner > * {
  flex: 1;
}
.function-area .ipt-inner {
  display: flex;
  gap: var(--space-8);
}
.function-area .ipt-inner .ipt-wrap {
  flex: 1;
}
.function-area .ipt-inner .ipt-wrap ._ipt-radio-box {
  flex: 1;
}
.function-area .ipt-inner .input-box {
  flex: 1;
}
.function-area .ipt-wrap + .info-text {
  margin-top: -4px;
}

.info-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .info-text {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.info-text {
  position: relative;
  padding-left: 24px;
  color: var(--gray-700);
}
.info-text::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background: url(/static/images/icons/alert-circle.svg) no-repeat 0 0/100% auto;
}

.interest-rate-cut::after {
  background: url(/static/images/fs/bg_visual_interestrate.png) no-repeat 0 0/auto 100%;
}

.intro-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-40);
  background-color: var(--gray-20);
  border-radius: var(--radius-16);
  padding: var(--space-20) var(--space-24);
  margin-top: var(--space-32);
}
.intro-box .text-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
.intro-box .text-area .title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.72px;
  color: var(--gray-900);
}
.intro-box .text-area .title > span {
  color: var(--point-600);
}
.intro-box .text-area .list-noti > li {
  color: var(--gray-600);
}

.loan-withdrawal::after {
  background: url(/static/images/fs/bg_visual_loanwithdrawal.png) no-repeat 0 0/auto 100%;
}

.title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-8);
  margin: 0 auto;
  max-width: 1200px;
}
.title-area > .title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
  color: var(--gray-900);
}
.title-area > .side {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .title-area > .side {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
.title-area > .side {
  color: var(--gray-600);
}
.title-area.in-space {
  padding-top: var(--space-48);
  margin-bottom: var(--space-40);
}
.title-area + .cardtype {
  border-top: 1px solid var(--black);
  padding-top: var(--space-24);
  margin-top: var(--space-12);
}

.cardtype {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-16);
}
.cardtype > .item {
  flex: 1;
  max-width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  background-color: var(--white);
  border-radius: var(--radius-24);
  padding: var(--space-24);
}
.cardtype > .item .top-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardtype > .item .top-area .date {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .cardtype > .item .top-area .date {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
  }
}
.cardtype > .item .top-area .date {
  color: var(--gray-500);
}
.cardtype > .item .middle-area .data-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space-8) var(--space-20);
  background-color: var(--gray-20);
  border-radius: var(--space-12);
  padding: var(--space-20);
  margin: var(--space-24) 0 var(--space-8);
}
.cardtype > .item .middle-area .data-wrap .data-infor {
  flex: 1;
}
.cardtype > .item .middle-area .data-wrap .data-infor > .item {
  flex: 1;
}
.cardtype > .item .middle-area .data-wrap .data-wrap-hor {
  grid-column: 1/-1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  border-top: 1px solid var(--gray-60);
  margin-top: var(--space-4);
  padding-top: var(--space-12);
}
.cardtype > .item .middle-area .data-infor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-4);
}
.cardtype > .item .middle-area .data-infor .title {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.48px;
  color: var(--gray-600);
  white-space: pre;
}
.cardtype > .item .middle-area .data-infor .data {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .cardtype > .item .middle-area .data-infor .data {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.56px;
  }
}
.cardtype > .item .middle-area .data-infor .data {
  color: var(--gray-900);
  white-space: pre;
}
.cardtype > .item .middle-area .data-infor .data > .point-text {
  color: var(--point-600);
}
.cardtype > .item .middle-area .data-inner {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-8) var(--space-24);
  margin-top: var(--space-6);
}
.cardtype > .item .middle-area .data-inner .data-infor {
  gap: var(--space-16);
}
.cardtype > .item .middle-area .data-inner .data-infor .data {
  font-weight: 500;
  background-color: var(--gray-20);
  border-radius: var(--radius-6);
  padding: var(--space-2) var(--space-6);
}

.noti-area {
  margin-top: var(--space-16);
}
.noti-area .list-ast > li {
  color: var(--gray-600);
}
.noti-area + ._btn-wrap {
  margin-top: var(--space-56);
}

.writing-area .item-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
}
.writing-area .item-wrap .item {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}
.writing-area .item-wrap .item .ipt-wrap {
  flex-wrap: wrap;
}
.writing-area .item-wrap .item .ipt-wrap > * {
  flex: 1;
}
.writing-area .item-wrap .item .ipt-wrap ._ipt-radio-box {
  min-width: calc(33.33% - 8px);
}
.writing-area > ._btn-wrap {
  margin-top: var(--space-56);
}
.writing-area > ._btn-wrap > * {
  flex: 1;
}

.evenly50 {
  display: flex;
  gap: var(--space-56);
}
.evenly50 > * {
  flex: 1;
}

.w-box {
  background-color: var(--white);
  border-radius: var(--radius-24);
  padding: var(--space-24);
}

.gray20-box {
  background-color: var(--gray-20);
  border-radius: var(--radius-12);
  padding: var(--space-20);
}

.result-area .w-box {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}
.result-area .total-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}
.result-area .total-area dt {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .result-area .total-area dt {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.result-area .total-area dt {
  color: var(--gray-500);
}
.result-area .item-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}
.result-area .item-wrap .item {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.result-area .item-wrap .item .text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.48px;
  color: var(--gray-600);
}
.result-area .data-infor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result-area .data-infor .title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .result-area .data-infor .title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.56px;
  }
}
.result-area .data-infor .title {
  color: var(--gray-700);
}
.result-area .data-infor .data {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.72px;
  color: var(--gray-900);
}
.result-area .data-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  border-top: 1px solid var(--gray-60);
  padding-top: var(--space-12);
  margin-top: var(--space-12);
}
.result-area .data-wrap > .data-infor .title {
  font-weight: 400;
}
.result-area .data-wrap > .data-infor .data {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .result-area .data-wrap > .data-infor .data {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.result-area .data-wrap > .data-infor .data {
  color: var(--gray-700);
}

@media (max-width: 1023px) {
  .fs-intro-guide {
    gap: var(--space-40);
  }
  .fs-intro-guide .guide-item .inner {
    flex-direction: column;
    gap: var(--space-24);
  }
  .fs-intro-guide .guide-item .inner > .text-area ._font-title-2 > span {
    margin-bottom: var(--space-4);
  }
  .fs-intro-guide .guide-item .inner > .text-area .loan-infor {
    margin-top: var(--space-16);
    gap: var(--space-8);
  }
  .fs-intro-guide .guide-item .inner > .text-area .loan-infor .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .fs-intro-guide .guide-item .inner .item-wrap {
    flex-basis: auto;
    max-width: none;
    gap: var(--space-12);
  }
  .fs-intro-guide .guide-item .inner .item-wrap .item {
    padding: var(--space-24);
  }
  .fs-intro-guide .guide-item .inner .item-wrap .item > .text-area {
    gap: var(--space-4);
  }
  .fs-intro-guide .guide-item .inner .item-wrap .item::after {
    content: "";
    display: block;
    margin: var(--space-40) 0 0 auto;
    width: 120px;
    height: 120px;
  }
  .fs-intro-guide .guide-item .inner .item-wrap .bg-item {
    padding: var(--space-24);
  }
  .loan-infor-area .item-wrap {
    flex-direction: column;
  }
  .loan-infor-area .item-wrap .item:nth-child(2) {
    flex: 1;
  }
  .summary-area {
    flex-direction: column;
  }
  .summary-area .item-wrap {
    flex-basis: auto;
  }
  .cardtype > .item {
    min-width: calc(50% - 8px);
  }
  .cardtype > .item .middle-area .data-wrap {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .fs-intro-guide .guide-item .inner .item-wrap .bg-item {
    margin-top: -8px;
  }
  .fs-intro-guide .guide-item .inner .item-wrap .bg-item ._table > table {
    min-width: 560px;
  }
  .fs-intro-guide .guide-item .inner .item-wrap .bg-item ._btn-wrap {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .fs-intro-guide .guide-item .text-area .sub-text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.32px;
    margin-top: var(--space-4);
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .fs-intro-guide .guide-item .text-area .sub-text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
@media (max-width: 767px) {
  .fs-intro-guide + ._btn-wrap {
    margin-top: var(--space-40);
  }
  .popup-content .qr-img {
    margin-bottom: var(--space-8);
  }
  .popup-content .list-noti {
    gap: var(--space-6);
  }
  .dropdown-area {
    padding: var(--space-32) 0;
  }
  .full-bg .contents {
    max-width: 1200px;
    margin: var(--space-32) auto var(--space-56);
  }
  .loan-infor-area {
    border-radius: var(--radius-20);
    padding: var(--space-24) var(--space-20);
  }
  .loan-infor-area ._font-title-4 {
    padding-bottom: var(--space-8);
  }
  .loan-infor-area .item-wrap {
    gap: var(--space-16);
    padding-top: var(--space-20);
  }
  .loan-infor-area .item-wrap .item {
    flex-direction: column;
    gap: var(--space-16);
    min-width: auto;
  }
  .loan-infor-area .item-wrap .item:nth-child(2) {
    padding: var(--space-12) var(--space-16);
    flex: 1;
  }
  .loan-infor-area .item-wrap .item .data-infor {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .loan-infor-area .item-wrap .item .data-infor ._font-title-1 {
    padding-top: var(--space-4);
  }
  .loan-infor-area .item-wrap .item .data-infor dd {
    text-align: right;
  }
  .summary-area {
    padding-top: var(--space-40);
  }
  .summary-area .item-wrap {
    flex-basis: auto;
  }
  .summary-area .item-wrap .item {
    grid-template-columns: auto;
    padding: var(--space-24) var(--space-20);
  }
  .summary-area .item-wrap .item .data-infor {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: var(--space-8);
  }
  .summary-area .item-wrap .item .data-infor > * {
    flex: 1;
  }
  .summary-area .item-wrap .item .data-infor dd {
    text-align: right;
  }
  .summary-area .item-wrap .item .data-infor-large {
    flex-direction: column;
    gap: var(--space-24);
    padding-bottom: var(--space-24);
    margin-bottom: 0;
  }
  .summary-area .item-wrap .item .data-infor-large .data-infor {
    flex-direction: column;
    align-items: flex-start;
  }
  .summary-area .item-wrap .item .data-infor-large .account-infor {
    flex-direction: column;
    align-items: flex-start;
  }
  .summary-area .item-wrap .item .warning-box {
    margin-top: 0;
  }
  .loan-wrap {
    flex-direction: column;
  }
  .loan-wrap .loan-infor-area {
    min-width: auto;
  }
  .loan-wrap .loan-infor-area .sub-item {
    flex-direction: column;
    gap: var(--space-6);
    padding: var(--space-12) var(--space-16);
    margin-top: 0;
  }
  .loan-wrap .loan-infor-area .sub-item .data-infor dd {
    text-align: right;
  }
  .loan-wrap .function-area {
    padding: var(--space-24) var(--space-20);
  }
  .loan-wrap .function-area .date-area .date-wrap {
    gap: var(--space-16);
  }
  .loan-wrap .function-area .ipt-inner {
    flex-direction: column;
  }
  .intro-box {
    align-items: flex-start;
    flex-direction: column;
    gap: var(--space-16);
    padding: var(--space-20);
    margin-top: var(--space-20);
  }
  .intro-box .text-area .title > span {
    display: block;
  }
  .title-area {
    flex-direction: column;
    align-items: flex-start;
  }
  .title-area > .title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.32px;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .title-area > .title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
@media (max-width: 767px) {
  .title-area > .side {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .title-area > .side {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
@media (max-width: 767px) {
  .title-area.in-space {
    padding-top: var(--space-32);
    margin-bottom: var(--space-40);
  }
  .cardtype {
    gap: var(--space-12);
    margin-top: var(--space-16);
  }
  .cardtype > .item {
    min-width: 100%;
    max-width: 100%;
    padding: var(--space-20);
  }
  .cardtype > .item .middle-area .data-wrap {
    gap: var(--space-8);
    margin: var(--space-24) 0 0;
  }
  .cardtype > .item .middle-area .data-wrap .data-wrap-hor {
    grid-column: 1/-1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    border-top: 1px solid var(--gray-60);
    margin-top: var(--space-4);
    padding-top: var(--space-12);
  }
  .noti-area {
    margin-top: var(--space-12);
  }
  .noti-area + ._btn-wrap {
    margin-top: var(--space-40);
  }
  .writing-area .item-wrap {
    gap: var(--space-24);
  }
  .writing-area .item-wrap .item {
    gap: var(--space-12);
  }
  .writing-area > ._btn-wrap {
    margin-top: var(--space-40);
  }
  .evenly50 {
    flex-direction: column;
    gap: var(--space-40);
  }
}