.step-section {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.step-section + .step-section {
  margin-top: 80px;
}

.step-num {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: var(--radius-20);
  color: var(--white);
  background-color: var(--gray-900);
}

.step-body {
  flex: 1;
}
.step-body ._table th,
.step-body ._table td {
  padding: 20px;
  text-align: left;
  vertical-align: top;
}
.step-body ._table td > .list-noti {
  gap: 8px;
}
.step-body ._table .warning-box {
  margin-top: 20px;
}
.step-body .list-noti li {
  color: var(--gray-500);
}

.accordion {
  margin-top: 40px;
}