.tab-wrapper.tab-sticky {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--white);
  box-shadow: 0px 16px 32px 0px rgba(35, 34, 88, 0.08);
}
.tab-wrapper .tab-box {
  max-width: 1200px;
  margin: 0 auto;
}

.visual-item {
  position: relative;
  padding: var(--space-56) 0;
  margin: 0 0 var(--space-56);
  border-bottom: 1px solid var(--gray-100);
}
.visual-item .mytag-service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  max-width: 1200px;
  margin: 0 auto;
}
.visual-item .mytag-service ._badge-small-red {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
  color: var(--red-800);
}
.visual-item .mytag-service ._font-title-1 {
  margin: var(--space-12) 0 0;
  color: var(--gray-900);
}
.visual-item .mytag-service .text {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
  width: 420px;
  color: var(--gray-600);
  margin: var(--space-20) 0 0;
}
.visual-item .mytag-service::after {
  content: "";
  display: block;
  width: 600px;
  height: 320px;
  background: url(/static/images/su/bg_visual_mytag.jpg) no-repeat 0 0/100% auto;
}

.mytag-guide {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-bottom: var(--space-56);
}
.mytag-guide .guide-item .inner {
  display: flex;
  justify-content: space-between;
  gap: 0 var(--space-48);
}
.mytag-guide .guide-item .item-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-16);
  flex-basis: 832px;
}
.mytag-guide .guide-item .item-wrap .item {
  display: flex;
  flex-direction: column;
  gap: var(--space-16) 0;
  border-radius: var(--radius-16);
  background: var(--gray-20);
  padding: var(--space-48);
}
.mytag-guide .guide-item .item-wrap .item .text-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-20) 0;
}
.mytag-guide .guide-item .item-wrap .item ._font-title-3 {
  color: var(--gray-700);
}
.mytag-guide .guide-item .item-wrap .item .text {
  color: var(--gray-600);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .mytag-guide .guide-item .item-wrap .item .text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
.mytag-guide .guide-item .item-wrap .item::after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  margin: auto 0 0 auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
}
.mytag-guide .guide-item .item-wrap.suggestion .item:nth-child(1)::after {
  background-image: url(/static/images/su/ico_suggestion01.png);
}
.mytag-guide .guide-item .item-wrap.suggestion .item:nth-child(2)::after {
  background-image: url(/static/images/su/ico_suggestion02.png);
}
.mytag-guide .guide-item .item-wrap.suggestion .item:nth-child(3)::after {
  background-image: url(/static/images/su/ico_suggestion03.png);
}
.mytag-guide .guide-item .item-wrap.suggestion .item:nth-child(4)::after {
  background-image: url(/static/images/su/ico_suggestion04.png);
}
.mytag-guide .guide-item .item-wrap.merit .item:nth-child(1)::after {
  background-image: url(/static/images/su/ico_merit01.png);
}
.mytag-guide .guide-item .item-wrap.merit .item:nth-child(2)::after {
  background-image: url(/static/images/su/ico_merit02.png);
}
.mytag-guide .guide-item .item-wrap.merit .item:nth-child(3)::after {
  background-image: url(/static/images/su/ico_merit03.png);
}
.mytag-guide .guide-item .item-wrap.merit .item:nth-child(4)::after {
  background-image: url(/static/images/su/ico_merit04.png);
}
.mytag-guide .guide-item .item-wrap.view {
  display: block;
}
.mytag-guide .guide-item .item-wrap.view .img-area {
  text-align: center;
  border-radius: var(--radius-16);
  background: var(--gray-20);
  padding: var(--space-48);
  padding-bottom: 0;
}

.banner {
  display: flex;
  flex-direction: column;
  gap: var(--space-4) 0;
  position: relative;
  background-color: #ebedf5;
  border-radius: var(--radius-16);
  padding: var(--space-24) 0 var(--space-24) var(--space-56);
  margin-top: 120px;
}
.banner .title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
  color: #7572ff;
}
.banner ._font-title-4 {
  color: #383795;
}
.banner::after {
  content: "";
  position: absolute;
  right: 45px;
  top: -20px;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
}
.banner.loan::after {
  background-image: url(/static/images/su/bg_banner_loan.png);
}

.floating-btn {
  opacity: 0;
  display: flex;
  justify-content: center;
  padding-bottom: var(--space-32);
  left: 50%;
  bottom: 0;
  z-index: 10;
}
.floating-btn.fixed-btn {
  position: fixed;
  opacity: 1;
  transition: opacity 0.5s ease-in-out 1s;
  transform: translateX(-50%);
}
.floating-btn.static-btn {
  position: static;
  opacity: 1;
}
.floating-btn ._btn-large-primary {
  min-width: 320px;
}

.step-guide {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.step-guide .text-area .text {
  margin-top: var(--space-1 6);
  color: var(--gray-700);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
}
.step-guide .step-area {
  flex-basis: 335px;
}

.store-infor {
  background-color: var(--gray-20);
  padding: 40px 0;
}
.store-infor > .inner {
  max-width: 1200px;
  margin: 0 auto;
}
.store-infor .store-name {
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .store-infor .store-name {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.store-infor .store-name {
  color: var(--gray-700);
  margin-bottom: 8px;
}