.visual-wrap {
  background-color: #fff2f6;
}
.visual-wrap .visual-item .bg-text {
  background-color: var(--white);
  color: var(--red-800);
}

.mytag-service::after {
  background: url(/static/images/su/bg_visual_mytag.png) no-repeat 0 0/auto 100%;
}

.mytag-guide {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-bottom: var(--space-56);
}
.mytag-guide .guide-item .inner {
  display: flex;
  justify-content: space-between;
}
.mytag-guide .guide-item .item-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-16);
  flex-basis: 832px;
}
.mytag-guide .guide-item .item-wrap .item {
  display: flex;
  flex-direction: column;
  gap: var(--space-16) 0;
  border-radius: var(--radius-16);
  background: var(--gray-20);
  padding: var(--space-48);
}
.mytag-guide .guide-item .item-wrap .item .text-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-20) 0;
}
.mytag-guide .guide-item .item-wrap .item ._font-title-3 {
  color: var(--gray-700);
}
.mytag-guide .guide-item .item-wrap .item .text {
  color: var(--gray-600);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
}
@media screen and (max-width: 767px) {
  .mytag-guide .guide-item .item-wrap .item .text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
.mytag-guide .guide-item .item-wrap .item::after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  margin: auto 0 0 auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
}
.mytag-guide .guide-item .item-wrap.suggestion .item:nth-child(1)::after {
  background-image: url(/static/images/su/ico_suggestion01.png);
}
.mytag-guide .guide-item .item-wrap.suggestion .item:nth-child(2)::after {
  background-image: url(/static/images/su/ico_suggestion02.png);
}
.mytag-guide .guide-item .item-wrap.suggestion .item:nth-child(3)::after {
  background-image: url(/static/images/su/ico_suggestion03.png);
}
.mytag-guide .guide-item .item-wrap.suggestion .item:nth-child(4)::after {
  background-image: url(/static/images/su/ico_suggestion04.png);
}
.mytag-guide .guide-item .item-wrap.merit .item:nth-child(1)::after {
  background-image: url(/static/images/su/ico_merit01.png);
}
.mytag-guide .guide-item .item-wrap.merit .item:nth-child(2)::after {
  background-image: url(/static/images/su/ico_merit02.png);
}
.mytag-guide .guide-item .item-wrap.merit .item:nth-child(3)::after {
  background-image: url(/static/images/su/ico_merit03.png);
}
.mytag-guide .guide-item .item-wrap.merit .item:nth-child(4)::after {
  background-image: url(/static/images/su/ico_merit04.png);
}
.mytag-guide .guide-item .item-wrap.view {
  display: block;
}
.mytag-guide .guide-item .item-wrap.view .img-area {
  text-align: center;
  border-radius: var(--radius-16);
  background: var(--gray-20);
  padding: var(--space-48);
  padding-bottom: 0;
}

.banner {
  display: flex;
  flex-direction: column;
  gap: var(--space-4) 0;
  position: relative;
  background-color: #ebedf5;
  border-radius: var(--radius-16);
  padding: var(--space-24) 0 var(--space-24) var(--space-56);
  margin-top: 120px;
}
.banner .title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
  color: #7572ff;
}
.banner ._font-title-4 {
  color: #383795;
}
.banner::after {
  content: "";
  position: absolute;
  right: 45px;
  top: -20px;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
}
.banner.loan::after {
  background-image: url(/static/images/su/bg_banner_loan.png);
}

.floating-btn {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  bottom: 32px;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.floating-btn ._btn-large-primary {
  min-width: 320px;
}

.step-guide {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.step-guide .text-area .text {
  margin-top: var(--space-16);
  color: var(--primary-p800);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
}
.step-guide .text-area .text span {
  color: var(--gray-700);
}
.step-guide .step-area {
  flex-basis: 335px;
  min-width: 335px;
}

.store-infor {
  padding: var(--space-40) 0;
}
.store-infor.full {
  background-color: var(--gray-40);
}
.store-infor > .inner {
  max-width: 1200px;
  margin: 0 auto;
}
.store-infor .store-name {
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  color: var(--gray-700);
  margin-bottom: var(--space-8);
}
@media screen and (max-width: 767px) {
  .store-infor .store-name {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.store-infor .store-data {
  display: flex;
  justify-content: space-between;
  gap: var(--space-12);
  margin-top: var(--space-12);
}
.store-infor .store-data .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
  background-color: var(--white);
  padding: var(--space-16);
  border-radius: var(--radius-12);
}
.store-infor .store-data .item .text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
  color: var(--gray-600);
}
@media screen and (max-width: 767px) {
  .store-infor .store-data .item .text {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
  }
}
.store-infor .store-data .item .data {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
  margin-left: auto;
}

.writing-stage {
  margin-top: var(--space-48);
}
.writing-stage .stage-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 0 var(--space-40) 64px;
}
.writing-stage .stage-item::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  background-image: url(/static/images/su/bg_ico_stage.png);
}
.writing-stage .stage-item::after {
  content: "";
  display: block;
  position: absolute;
  left: 19px;
  top: 40px;
  width: 2px;
  height: calc(100% - 40px);
  border-radius: var(--radius-4);
  background-color: var(--gray-100);
}
.writing-stage .stage-item.is-end::before {
  background-image: url(/static/images/su/bg_ico_stage_end.png);
}
.writing-stage .stage-item.is-end::after {
  background-color: var(--point-600);
}
.writing-stage .stage-item.is-on::before {
  background-image: url(/static/images/su/bg_ico_stage_on.png);
}
.writing-stage .stage-item:last-of-type::after {
  display: none;
}
.writing-stage .stage-item .writing-infor > .text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
  color: var(--gray-700);
  margin-top: var(--space-16);
}
.writing-stage .stage-item .writing-infor > .text span {
  color: var(--point-600);
}
.writing-stage .stage-item .writing-box {
  flex-basis: 640px;
  border-radius: var(--radius-20);
  border: 1px solid var(--gray-60);
  padding: var(--space-40);
}
.writing-stage .stage-item .writing-box .writing-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-40);
}
.writing-stage .stage-item .writing-box .writing-area ._font-title-4 {
  display: flex;
  align-items: center;
}
.writing-stage .stage-item .writing-box .writing-area ._font-title-4 .tooltip-title {
  display: inline-flex;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .writing-stage .stage-item .writing-box .writing-area ._font-title-4 .tooltip-title {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
  }
}
.writing-stage .stage-item .writing-box .writing-area ._font-title-4 .tooltip-title .tooltip-trigger {
  background: url(/static/images/icons/alert-circle.svg);
  background-size: 100% auto;
  width: 24px;
  height: 24px;
  margin: 0 6px;
}
.writing-stage .stage-item .writing-box .writing-area ._font-title-4 .desc {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  color: var(--gray-700);
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .writing-stage .stage-item .writing-box .writing-area ._font-title-4 .desc {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.writing-stage .stage-item .writing-box .writing-area ._font-title-4 .desc span {
  color: var(--red-600);
}
.writing-stage .stage-item .writing-box .writing-area .item {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}
.writing-stage .stage-item .writing-box .writing-area .item .input-box {
  min-width: auto;
}
.writing-stage .stage-item .writing-box .writing-area .item .ipt-wrap {
  display: flex;
  justify-content: space-between;
}
.writing-stage .stage-item .writing-box .writing-area .item .ipt-wrap > * {
  flex: 1;
}
.writing-stage .stage-item .writing-box .writing-area .item .ipt-wrap.col05 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.writing-stage .stage-item .writing-box .writing-area .item .add-field {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  padding: var(--space-12);
  margin-top: 10px;
  background-color: var(--gray-20);
  border-radius: var(--radius-16);
}
.writing-stage .stage-item .writing-box .writing-area .item .add-field > * {
  flex: 1;
}
.writing-stage .stage-item .writing-box .writing-area .item .add-field .wave {
  flex: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
  color: var(--gray-500);
}
@media screen and (max-width: 767px) {
  .writing-stage .stage-item .writing-box .writing-area .item .add-field .wave {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.64px;
  }
}
.writing-stage .stage-item .writing-box .writing-area .item .date-area .date-wrap {
  display: flex;
  gap: var(--space-8);
}
.writing-stage .stage-item .writing-box .writing-area .item .date-area .date-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.writing-stage .stage-item .writing-box .writing-area .item .date-area .date-inner > * {
  flex: 1;
}
.writing-stage .stage-item .writing-box .writing-area .item .input-wrap {
  display: flex;
  gap: var(--space-8);
}
.writing-stage .stage-item .writing-box .writing-area .item .input-wrap > * {
  flex: 1;
}
.writing-stage .stage-item .writing-box .writing-area .item .dropdown-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.writing-stage .stage-item .writing-box .writing-area .item .label-title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  color: var(--gray-700);
}
@media screen and (max-width: 767px) {
  .writing-stage .stage-item .writing-box .writing-area .item .label-title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.writing-stage .stage-item .writing-box .writing-area .item .input-box-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.writing-stage .stage-item .writing-box .writing-area .item .count-wrap .count-title {
  margin-bottom: var(--space-16);
  align-items: flex-end;
}
.writing-stage .stage-item .writing-box .writing-area .item .count-wrap .count-title .count {
  margin-bottom: -6px;
}
.writing-stage .stage-item .writing-box .writing-area .item > .inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.writing-stage .stage-item .writing-box .writing-area .item .business-day > .day-box {
  display: flex;
  gap: var(--space-4);
  padding: var(--space-12);
  background-color: var(--gray-20);
  border: 1px solid var(--gray-60);
  border-radius: var(--radius-12);
  margin-top: var(--space-8);
}
.writing-stage .stage-item .writing-box .writing-area .item .business-day > .day-box > * {
  flex: 1;
}
.writing-stage .stage-item .writing-box .writing-area .item .business-day > .day-box i {
  flex-direction: column;
}
.writing-stage .stage-item .writing-box .writing-area .item .business-day > .day-box [class^=_ipt-radio-box] input:checked + i {
  background-color: var(--primary-p800);
  color: var(--white);
}
.writing-stage .stage-item .writing-box .writing-area .item .business-day > .day-box [class^=_ipt-radio-box] input:checked + i .day-text {
  color: var(--gray-300);
}
.writing-stage .stage-item .writing-box .writing-area .item .business-day > .day-box ._ipt-radio-box:nth-child(n+6) .day-text {
  color: var(--red-400);
}
.writing-stage .stage-item .writing-box .writing-area .item .business-day > .day-box .day-text {
  display: block;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: var(--gray-300);
}
@media screen and (max-width: 767px) {
  .writing-stage .stage-item .writing-box .writing-area .item .business-day > .day-box .day-text {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.48px;
  }
}
.writing-stage .stage-item .writing-box .writing-area .item .bl-star {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.48px;
  color: var(--gray-500);
  margin-top: -8px;
}
.writing-stage .stage-item .writing-box .customers-number {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-40);
  background-color: var(--gray-20);
  border-radius: var(--space-12);
  padding: var(--space-20);
}
.writing-stage .stage-item .writing-box .customers-number .title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  color: var(--gray-700);
}
@media screen and (max-width: 767px) {
  .writing-stage .stage-item .writing-box .customers-number .title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.writing-stage .stage-item .writing-box .customers-number .data-area {
  display: flex;
  align-items: flex-end;
  gap: 6px;
}
.writing-stage .stage-item .writing-box .customers-number ._font-title-2 {
  display: block;
  margin-top: 2px;
  color: var(--text-primary);
}
.writing-stage .stage-item .writing-box .customers-number ._font-title-2 em {
  color: var(--point-600);
}
.writing-stage .stage-item .writing-box .customers-number .text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  color: var(--gray-600);
}
@media screen and (max-width: 767px) {
  .writing-stage .stage-item .writing-box .customers-number .text {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.writing-stage .stage-item .writing-box .marketing-period {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  background-color: var(--gray-20);
  border-radius: var(--space-12);
  padding: var(--space-20);
}
.writing-stage .stage-item .writing-box .marketing-period .title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  color: var(--gray-700);
}
@media screen and (max-width: 767px) {
  .writing-stage .stage-item .writing-box .marketing-period .title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.writing-stage .stage-item .writing-box .marketing-period .date-range {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
  color: var(--point-600);
}
@media screen and (max-width: 767px) {
  .writing-stage .stage-item .writing-box .marketing-period .date-range {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.64px;
  }
}
.writing-stage .stage-item .writing-box .intro-infor {
  margin-top: var(--space-16);
}
.writing-stage .stage-item .writing-box .intro-infor .text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  color: var(--gray-500);
}
@media screen and (max-width: 767px) {
  .writing-stage .stage-item .writing-box .intro-infor .text {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.writing-stage .stage-item .writing-box .warning-box .btn {
  margin-top: var(--space-16);
}

.mytag-caution {
  padding: var(--space-40);
  margin: var(--space-48) 0 var(--space-40);
}
.mytag-caution .check-area {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.full-bg {
  background-color: var(--gray-40);
  max-width: none !important;
}
.full-bg .feedback-wrap {
  padding: 148px 0 200px;
}
.full-bg .contents {
  max-width: 1200px;
  margin: 0 auto;
}

.cardtype {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-16);
  padding: var(--space-48) 0;
}
.cardtype > .item {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  background-color: var(--white);
  border-radius: var(--radius-24);
  padding: var(--space-24);
}
.cardtype > .item .top-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardtype > .item .top-area .date {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
  color: var(--gray-500);
}
@media screen and (max-width: 767px) {
  .cardtype > .item .top-area .date {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
  }
}
.cardtype > .item .middle-area .text {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  color: var(--gray-700);
  margin-top: 6px;
}
@media screen and (max-width: 767px) {
  .cardtype > .item .middle-area .text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.64px;
  }
}
.cardtype > .item .middle-area .data-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-8) var(--space-20);
  background-color: var(--gray-20);
  padding: var(--space-20);
  margin: var(--space-24) 0 var(--space-8);
}
.cardtype > .item .middle-area .data-wrap .data-infor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardtype > .item .middle-area .data-wrap .data-infor .title {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.48px;
  color: var(--gray-600);
}
.cardtype > .item .middle-area .data-wrap .data-infor .data {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.56px;
  color: var(--gray-900);
}
@media screen and (max-width: 767px) {
  .cardtype > .item .middle-area .data-wrap .data-infor .data {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.56px;
  }
}

.progress-status .warning-box {
  margin-top: var(--space-32);
}

.popup-content .round-item {
  display: flex;
  justify-content: space-between;
  gap: var(--space-8);
}
.popup-content .round-item > .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--space-12);
  background-color: var(--gray-20);
  border-radius: var(--radius-12);
}
.popup-content .round-item > .item .title {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.48px;
  color: var(--gray-600);
}
.popup-content .round-item > .item .data {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  color: var(--gray-900);
  text-align: right;
}
@media screen and (max-width: 767px) {
  .popup-content .round-item > .item .data {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.popup-content .box-item {
  display: flex;
  align-items: center;
  gap: var(--space-24);
  background-color: var(--gray-40);
  border-top: 1px solid var(--gray-60);
  border-bottom: 1px solid var(--gray-60);
  padding: var(--space-16);
  margin-top: var(--space-24);
}
.popup-content .box-item > * {
  flex: 1;
}
.popup-content .box-item .round-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: var(--radius-16);
  background-color: var(--white);
  padding: var(--space-16);
}
.popup-content .box-item .round-box .tooltip-title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  color: var(--gray-500);
}
@media screen and (max-width: 767px) {
  .popup-content .box-item .round-box .tooltip-title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.popup-content .box-item .round-box ._font-title-2 {
  color: var(--red-800);
  text-align: right;
}
.popup-content .box-item .round-box ._font-title-2 em {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
  color: var(--gray-900);
  margin-left: 2px;
}
@media screen and (max-width: 767px) {
  .popup-content .box-item .round-box ._font-title-2 em {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.popup-content .box-item .data-wrap {
  display: flex;
  flex-direction: column;
}
.popup-content .box-item .data-wrap > .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 10px 0;
}
.popup-content .box-item .data-wrap > .item .title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
  color: var(--gray-500);
}
@media screen and (max-width: 767px) {
  .popup-content .box-item .data-wrap > .item .title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
.popup-content .box-item .data-wrap > .item .data {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.72px;
  color: var(--gray-900);
}
.popup-content .box-item .data-wrap > .item .data em {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
  margin-left: 2px;
}
@media screen and (max-width: 767px) {
  .popup-content .box-item .data-wrap > .item .data em {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.64px;
  }
}
.popup-content .box-item .data-wrap .item + .item {
  border-top: 1px solid var(--gray-60);
}

.coupon {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  position: relative;
  border: 1px solid var(--gray-100);
  border-radius: var(--radius-20);
  padding: var(--space-20) 84px var(--space-20) var(--space-40);
  margin: var(--space-16) 0 var(--space-12);
}
.coupon::before, .coupon::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.coupon::before {
  right: 84px;
  width: 1px;
  height: calc(100% - 40px);
  background-color: var(--gray-100);
}
.coupon::after {
  right: 40px;
  background: url(/static/images/icons/download.svg);
  width: 24px;
  height: 24px;
}
.coupon > * {
  color: var(--gray-900);
}
.coupon .store-name {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
}
@media screen and (max-width: 767px) {
  .coupon .store-name {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
  }
}
.coupon .text {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
}
.coupon .date {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.48px;
  color: var(--gray-600);
}

.info-text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
  position: relative;
  padding-left: 32px;
  color: var(--gray-900);
}
@media screen and (max-width: 767px) {
  .info-text {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.56px;
  }
}
.info-text::before {
  content: "";
  display: block;
  position: absolute;
  left: 12px;
  top: 2px;
  width: 16px;
  height: 16px;
  background: url(/static/images/icons/info.svg) no-repeat 0 0/100% auto;
}

@media (max-width: 1023px) {
  .mytag-guide {
    gap: var(--space-40);
    padding-bottom: var(--space-40);
  }
  .mytag-guide .guide-item .inner {
    flex-direction: column;
    gap: var(--space-16) 0;
  }
  .mytag-guide .guide-item .item-wrap {
    grid-template-columns: none;
    gap: var(--space-8);
    flex-basis: auto;
  }
  .mytag-guide .guide-item .item-wrap .item {
    flex-direction: row;
    gap: 0 var(--space-20);
    padding: var(--space-20);
  }
  .mytag-guide .guide-item .item-wrap .item .text-area {
    gap: var(--space-8) 0;
  }
  .mytag-guide .guide-item .item-wrap .item::after {
    width: 40px;
    height: 40px;
    margin: auto 0 auto auto;
  }
  .mytag-guide .guide-item .item-wrap.view .img-area {
    padding: 30px;
    padding-bottom: 0;
  }
  .banner {
    padding: var(--space-20) 91px 63px var(--space-20);
    margin-top: var(--space-40);
  }
  .banner::after {
    right: 20px;
    top: inherit;
    bottom: 20px;
    width: 69px;
    height: 69px;
  }
  .floating-btn ._btn-large-primary {
    min-width: 100%;
  }
  .step-guide {
    gap: var(--space-40);
  }
  .step-guide .text-area .text {
    margin-top: var(--space-4);
  }
  .store-infor .store-data {
    flex-direction: column;
    gap: var(--space-8);
  }
  .store-infor .store-data .item {
    flex-direction: row;
    align-items: center;
  }
  .writing-stage .stage-item {
    flex-direction: column;
    padding: 0 0 var(--space-40) 64px;
    gap: var(--space-24);
  }
  .writing-stage .stage-item .writing-box {
    flex-basis: auto;
  }
  .mytag-caution {
    padding: var(--space-24);
    margin: var(--space-20) 0;
  }
  .mytag-caution .check-area {
    justify-content: flex-start;
    margin-top: var(--space-20);
  }
  .full-bg {
    background-color: var(--gray-40);
    max-width: none !important;
  }
  .full-bg .feedback-wrap {
    padding: 148px 0 200px;
  }
  .full-bg .contents {
    max-width: 1200px;
    margin: 0 auto;
  }
  .cardtype {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .step-guide {
    flex-direction: column;
    gap: var(--space-20);
    padding: 32px 0 var(--space-20);
  }
  .step-guide .text-area .text {
    margin-top: var(--space-4);
  }
  .step-guide .step-area {
    flex-basis: auto;
    margin: 0 auto;
    width: 100%;
    max-width: 335px;
  }
  .store-infor {
    padding: var(--space-32) 0;
  }
  .writing-stage {
    margin-top: var(--space-20);
  }
  .writing-stage .stage-item {
    padding: 0 0 var(--space-40) 44px;
  }
  .writing-stage .stage-item::before {
    width: 32px;
    height: 32px;
  }
  .writing-stage .stage-item::after {
    left: 15px;
    top: 32px;
    height: calc(100% - 32px);
  }
  .writing-stage .stage-item .writing-box {
    border-radius: inherit;
    border: none;
    padding: 0;
  }
  .writing-stage .stage-item .writing-box .writing-area {
    gap: var(--space-24);
  }
  .writing-stage .stage-item .writing-box .writing-area ._font-title-4 .tooltip-title .tooltip-trigger {
    width: 20px;
    height: 20px;
    margin: 0 var(--space-4);
  }
  .writing-stage .stage-item .writing-box .writing-area .item {
    gap: var(--space-12);
  }
  .writing-stage .stage-item .writing-box .writing-area .item .ipt-wrap {
    flex-wrap: wrap;
  }
  .writing-stage .stage-item .writing-box .writing-area .item .ipt-wrap.col05 {
    grid-template-columns: repeat(2, 1fr);
  }
  .writing-stage .stage-item .writing-box .writing-area .item .add-field {
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    margin-top: var(--space-12);
  }
  .writing-stage .stage-item .writing-box .writing-area .item .add-field > * {
    flex: 1;
    width: 100%;
  }
  .writing-stage .stage-item .writing-box .writing-area .item .add-field .wave {
    position: absolute;
    left: 12px;
    bottom: 28px;
    width: 11px;
  }
  .writing-stage .stage-item .writing-box .writing-area .item .add-field.has-wave .input-box:last-of-type {
    width: calc(100% - 20px);
  }
  .writing-stage .stage-item .writing-box .writing-area .item .date-area .date-wrap {
    flex-direction: column;
    gap: var(--space-12);
  }
  .writing-stage .stage-item .writing-box .writing-area .item .input-wrap {
    flex-direction: column;
    gap: var(--space-12);
  }
  .writing-stage .stage-item .writing-box .writing-area .item .count-wrap .count-title {
    margin-bottom: var(--space-8);
  }
  .writing-stage .stage-item .writing-box .writing-area .item .count-wrap .count-title .count {
    margin-bottom: -4px;
  }
  .writing-stage .stage-item .writing-box .writing-area .item .business-day > .day-box {
    flex-wrap: wrap;
    border-radius: var(--radius-8);
  }
  .writing-stage .stage-item .writing-box .writing-area .item .business-day > .day-box > * {
    min-width: 45px;
    max-width: 45px;
    flex: 0 1 auto;
  }
  .writing-stage .stage-item .writing-box .writing-area .item .business-day > .day-box ._ipt-radio-box:nth-child(n+6) .day-text {
    color: var(--red-400);
  }
  .writing-stage .stage-item .writing-box .writing-area .item .business-day > .day-box ._ipt-radio-box:last-child {
    max-width: none;
  }
  .writing-stage .stage-item .writing-box .customers-number {
    margin-top: var(--space-24);
    padding: var(--space-16);
    gap: var(--space-8);
  }
  .writing-stage .stage-item .writing-box .customers-number .data-area {
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }
  .writing-stage .stage-item .writing-box .customers-number ._font-title-2 {
    display: block;
    margin-top: 0;
  }
  .writing-stage .stage-item .writing-box .intro-infor {
    padding-top: var(--space-24);
    margin-top: var(--space-24);
    border-top: 1px solid var(--gray-60);
  }
  .writing-stage .stage-item .writing-box .intro-infor .text br {
    display: none;
  }
  .full-bg {
    margin-bottom: 0 !important;
  }
  .cardtype {
    grid-template-columns: auto;
    padding: var(--space-24) 0;
  }
  .cardtype > .item {
    padding: var(--space-20);
  }
  .cardtype > .item .middle-area .data-wrap {
    grid-template-columns: auto;
    gap: var(--space-8);
    margin: var(--space-24) 0 var(--space-12);
  }
  .marketing-results .round-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .marketing-results .round-item > .item {
    gap: var(--space-4);
  }
  .marketing-results .box-item {
    flex-direction: column;
    gap: var(--space-16);
    padding: var(--space-24) var(--space-16);
  }
  .marketing-results .box-item > * {
    width: 100%;
  }
  .marketing-results .box-item .round-box {
    border-radius: var(--radius-12);
    padding: var(--space-12);
  }
  .marketing-results .box-item .data-wrap {
    flex-direction: row;
    gap: var(--space-24);
  }
  .marketing-results .box-item .data-wrap > .item {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 var(--space-12);
    position: relative;
  }
  .marketing-results .box-item .data-wrap > .item .title {
    width: 100%;
  }
  .marketing-results .box-item .data-wrap .item + .item {
    border-top: none;
  }
  .marketing-results .box-item .data-wrap .item + .item::before {
    content: "";
    display: block;
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 32px;
    background-color: var(--gray-60);
  }
  .progress-status .warning-box {
    margin-top: var(--space-20);
  }
  .popup-content .round-item {
    flex-wrap: wrap;
  }
  .popup-content .round-item > .item {
    max-width: calc(50% - 4px);
    min-width: calc(50% - 4px);
  }
  .popup-content .box-item {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-16);
    padding: var(--space-24) var(--space-16);
  }
  .popup-content .box-item > * {
    flex: 1;
  }
  .popup-content .box-item .round-box {
    width: 100%;
  }
  .popup-content .box-item .data-wrap {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    gap: var(--space-24);
  }
  .popup-content .box-item .data-wrap > .item {
    flex: 1;
    flex-direction: column;
    align-items: inherit;
    gap: var(--space-6);
    padding: 0 var(--space-12);
    text-align: center;
  }
  .popup-content .box-item .data-wrap > .item .title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
    color: var(--gray-500);
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .popup-content .box-item .data-wrap > .item .title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.56px;
  }
}
@media (max-width: 767px) {
  .popup-content .box-item .data-wrap > .item .data {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .popup-content .box-item .data-wrap .item + .item {
    position: relative;
    border-top: 0;
  }
  .popup-content .box-item .data-wrap .item + .item::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 32px;
    background-color: var(--gray-60);
  }
}
@media (max-width: 767px) {
  .popup-content.view .round-item {
    flex-direction: column;
  }
  .popup-content.view .round-item > .item {
    min-width: 100%;
    max-width: 100%;
  }
}