@use "../abstracts" as *;

$gnb-default-height: 71px; // pc 1depth 높이
$gnb-auth-height: 53px; // mo .header-auth 높이

#header {
  &.opened {
    .header {
      position: relative;
      height: auto;
      max-height: 100vh;
      overflow: auto;
    }
  }
}

.header {
  .header-inner {
    // max-width + side * 2 로 전체를 늘린 후 padding 으로 줄이는 방식
    padding-left: $page-side-lg;
    padding-right: $page-side-lg;
    max-width: calc($page-max-width + $page-side-lg * 2);
    width: 100%;
    margin: 0 auto;

    &::after {
      content: "";
      position: absolute;
      top: calc($nav-height-lg - 1px);
      left: 0;
      right: 0;
      border-bottom: 1px solid var(--gray-60);
      z-index: -1;
    }

    .header-util,
    .header-gnb {
      margin: 0 auto;
    }

    .header-util {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0 0;

      > ul {
        display: flex;
        align-items: center;
        gap: var(--space-16);

        li {
          @include font-token($font-body-2);
          position: relative;
          text-align: center;
          color: $text-tertiary;

          + li {
            &::before {
              content: "";
              position: absolute;
              left: calc(var(--space-8) * -1);
              top: 50%;
              transform: translateY(-50%);
              width: 1px;
              height: 12px;
              background: var(--gray-60);
            }
          }
        }
      }
    }

    .header-gnb {
      display: flex;
      justify-content: space-between;
    }

    .header-logo {
      display: flex;
      align-items: center;
      height: $gnb-default-height;
      gap: var(--space-8);

      a {
        display: inline-flex;
        align-items: center;
        gap: var(--space-8);
      }

      &-text {
        @include font-token($font-body-0-semi);
        position: relative;
        display: flex;
        align-items: center;
        color: #343841;

        &::before {
          content: "";
          display: block;
          width: 1px;
          height: 1em;
          background: var(--gray-60);
          margin-right: var(--space-8);
        }
      }
    }

    .header-top-nav {
      display: block;
      flex-grow: 0;
      width: var(--header-nav-off-width, auto);
      height: $gnb-default-height; // 상단 메뉴 닫힘 높이
      transition: all $trans-time-short ease;

      @at-root #header.opened #{&} {
        display: none;
      }

      &:focus-within {
        transition: none;
      }

      &:focus-within,
      &:hover {
        height: var(--header-nav-height, auto);
        width: var(--header-nav-on-width, auto);
      }

      .depth1-list {
        display: flex;
        padding-bottom: var(--space-32);
        white-space: nowrap;
      }

      .depth1-list > li {
        flex: 1;
        text-align: center;

        &:hover,
        &.active {
          a.depth1 {
            &::after {
              left: 0;
              right: 0;
              background: $bg-black;
            }
          }
        }

        .depth1 {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: $gnb-default-height;
          padding: 0 var(--space-24);
          font-size: 16px;
          font-weight: 700;
          letter-spacing: -0.8px;
          color: $text-primary;
          white-space: nowrap;
          word-break: keep-all;

          &::after {
            content: "";
            position: absolute;
            left: 50%;
            right: 50%;
            bottom: 0;
            height: 3px;
            background: $bg-black;
            transition:
              left $trans-time-short ease,
              right $trans-time-short ease;
          }
        }

        .depth2-list {
          display: flex;
          flex-direction: column;
          padding-top: var(--space-20);
          gap: 0;
          width: 100%;

          .depth2 {
            @include font-token($font-body-2);
            display: inline-block;
            width: 100%;
            padding: var(--space-6) 0;
            color: $text-primary;

            &:hover::after {
              content: "";
              display: block;
              width: 100%;
              height: 1px;
              margin-top: -1px;
              background-color: $text-primary;
            }
          }
        }

        .depth3-list {
          display: none;
        }
      }
    }

    .bottom-wrapper {
      display: none;
    }

    .header-actions {
      display: flex;
      align-items: center;
      height: $gnb-default-height;
      order: 3;
    }

    .icon-btn {
      position: relative;
      width: 24px;
      height: 24px;

      &::before,
      &::after {
        content: "";
        position: absolute;
      }
    }

    .icon-menu {
      &::before,
      &::after {
        left: 3px;
        width: 18px;
        height: 2px;
        background: #191b1e;
      }

      &::before {
        top: 6px;
        box-shadow: 0 5px 0 #191b1e;
      }

      &::after {
        bottom: 6px;
      }

      @at-root #header.opened #{&} {
        @include icon("x");

        &::after,
        &::before {
          content: none;
        }
      }
    }
  }

  .header-all-nav {
    display: none;
    position: static;
    height: 0;
    overflow-y: hidden;
    background-color: #fff;
    transform: none;
    transition: height $trans-time-medium ease;

    @at-root #header.opened #{&} {
      height: var(--header-all-nav-height, 0);
    }

    .tab-wrapper {
      display: none;
    }

    .depth1-list {
      display: flex;
      flex-direction: column;
      gap: var(--space-40);

      // max-width + side * 2 로 전체를 늘린 후 padding 으로 줄이는 방식
      padding: 0 $page-side-lg 80px;
      margin: 0 auto;
      max-width: calc($page-max-width + $page-side-lg * 2);
    }

    .depth1-list > li {
      &::after {
        content: "";
        position: absolute;
        display: block;
        left: $page-side-sm;
        width: calc(100% - #{$page-side-sm} * 2);
        height: 1px;
        background-color: var(--gray-60);
        margin-top: 40px;
      }

      .depth1 {
        display: inline-block;
        position: relative;
        margin-top: var(--space-32);
        padding-right: 20px;
        justify-content: flex-start;
        align-items: center;
        color: var(--text-primary);

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transition: transform $trans-time-short ease;
          transform: translateY(-50%);
          @include icon("chevron-right-16", 20px);
        }
      }

      .depth2-list {
        display: flex;
        gap: var(--space-24);
        flex-direction: row;
        padding-top: var(--space-20);
        justify-content: space-between;
      }

      .depth2-list > li {
        // flex: 1 1 0%;
        flex: 1 1 auto;

        .depth2 {
          display: inline-block;
          position: relative;
          width: 100%;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: -0.8px;
          text-align: left;
        }
      }

      .depth3-list {
        display: flex;
        flex-direction: column;
        padding: var(--space-16) 0 0;

        .depth3 {
          @include font-token($font-body-2);
          display: inline-block;
          width: 100%;
          padding: 5px 0;
          text-align: left;
          color: $text-tertiary;
        }
      }

      .depth4-list {
        display: none;
      }
    }
  }

  .bottom-wrapper {
    display: none;
  }
}

// Tablet
@include respond-md {
  .header {
    .header-inner {
      padding-left: 0;
      padding-right: 0;
      min-width: $page-min-width;

      &::after {
        content: none;
      }

      .header-util {
        display: none;
      }

      .header-gnb {
        width: 100%;
        margin: 0;
        padding: var(--space-16) $page-side-sm;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
      }

      .header-logo {
        // width: auto;
        // height: auto;
        // margin: 0 auto 0 0;
        // flex-shrink: 0;
        // white-space: nowrap;
        display: none;
      }

      .header-top-nav {
        display: none;
      }

      .header-actions {
        height: auto;
      }
    }

    .header-all-nav {
      display: none;
      position: absolute;
      top: $nav-height-md;
      left: 0;
      right: 0;
      overflow-y: auto;
      transform: translateX(100%);
      transition: transform $trans-time-short ease;

      .tab-wrapper {
        display: block;
        top: 0;
        padding: var(--space-12) 0;

        ._tabs-sub {
          padding: 0 var(--space-20);
        }

        &::after {
          content: none;
        }
      }

      @at-root #header.opened #{&} {
        height: calc(100vh - $nav-height-md);
      }

      .depth1-list {
        gap: calc(var(--space-32) + 1px); // line 1px 추가
        padding: 0;
        margin: 0;
        max-width: none;
      }

      .depth1-list > li {
        &::after {
          margin-top: var(--space-16);
        }

        &:last-child {
          &::after {
            content: none;
          }
        }

        .depth1 {
          display: flex;
          margin: 0;
          padding: var(--space-16) $page-side-sm;

          &::after {
            content: none;
          }
        }

        .depth2-list {
          justify-content: flex-start;
          flex-direction: column;
          gap: 0;
          padding: 0;
        }

        .depth2-list > li {
          flex: 0 1 auto;

          .depth2 {
            @include font-token($font-body-1-medi);
            padding: var(--space-16) $page-side-sm;
            color: $text-primary;

            &::after {
              content: "";
              position: absolute;
              right: $page-side-sm;
              top: 50%;
              height: auto;
              margin-top: 0;
              transition: transform $trans-time-short ease;
              transform: translateY(-50%);
              @include icon("chevron-right-16", 16px);
            }
          }

          //&:focus-within,
          &.active {
            // 화살표
            .depth2::after {
              transform: translateY(-50%) rotate(-90deg);
            }

            // 서브메뉴
            .depth3-list {
              height: var(--height, auto);
            }
          }
        }

        .depth3-list {
          height: 0;
          overflow: hidden;
          transition: height $trans-time-short ease;
          padding: 0 var(--space-20);

          /* &.active {
            display: block;
          } */

          .depth3 {
            @include font-token($font-body-1);
            padding: var(--space-12) var(--space-6);
          }
        }

        /* .depth3-list > li {
            &.active .depth4-list {
              display: flex;
            }
          } */

        .depth4-list {
          display: flex; /* 기본 활성화로 */
          flex-direction: column;
          padding: calc(var(--space-20) - var(--space-6)) var(--space-20);
          background-color: var(--gray-20);
          border-radius: var(--radius-16);

          .depth4 {
            @include font-token($font-body-1);
            display: inline-block;
            width: 100%;
            padding: var(--space-6) 0;
            text-align: left;
            color: $text-tertiary;
          }
        }
      }
    }

    .bottom-wrapper {
      display: block;
      position: sticky;
      left: 0;
      right: 0;
      bottom: 0;

      .auth-list {
        @include font-token($font-body-2);
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: var(--space-8) var(--space-24) var(--space-16);
        background-color: $bg-white;
        text-align: center;

        li {
          display: flex;
          flex: auto;
          justify-content: center;
          position: relative;

          > a {
            display: inline-block;
            width: 100%;
            padding: var(--space-4) 0;
          }

          + li {
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              width: 1px;
              height: 1em;
              background-color: $bg-gray-60;
            }
          }
        }
      }
    }
  }

  #header {
    &.opened {
      .header {
        overflow: visible;
      }
    }

    &.opened {
      ~ #container .title {
        padding: 0 0 0 var(--space-20) !important;
        .btn-back {
          display: none;
        }
      }
    }
  }
}
