@use "../abstracts" as *;

.header {
  .header-inner {
    // max-width + side * 2 로 전체를 늘린 후 padding 으로 줄이는 방식
    padding-left: $page-side-lg;
    padding-right: $page-side-lg;
    max-width: calc($page-max-width + $page-side-lg * 2);
    width: 100%;
    margin: 0 auto;

    &::after {
      content: "";
      position: absolute;
      top: calc($nav-height-lg - 1px);
      left: 0;
      right: 0;
      border-bottom: 1px solid var(--gray-60);
      z-index: -1;
    }

    .header-util,
    .header-gnb {
      margin: 0 auto;
    }

    .header-util {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0 0;

      > ul {
        display: flex;
        align-items: center;
        gap: 16px;

        li {
          position: relative;
          display: flex;
          align-items: center;

          + li {
            &::before {
              content: "";
              position: absolute;
              left: -8px;
              top: 50%;
              transform: translateY(-50%);
              width: 1px;
              height: 12px;
              background: var(--gray-60);
            }
          }
        }

        a {
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: -0.56px;
          color: #4b515d;
        }
      }
    }

    .header-gnb {
      display: flex;
      justify-content: space-between;
    }

    .header-logo {
      display: flex;
      align-items: center;
      height: 71px;
      gap: var(--space-8);

      a {
        display: inline-flex;
        align-items: center;
        gap: var(--space-8);
      }

      &-text {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.56px;
        color: #343841;

        &::before {
          content: "";
          display: block;
          width: 1px;
          height: 16px;
          background: var(--gray-60);
          margin-right: 8px;
        }
      }
    }

    .header-top-nav {
      flex-grow: 0;
      width: var(--header-nav-off-width, auto);
      height: 71px; // 상단 메뉴 닫힘 높이
      transition: all $trans-time-short ease;

      &:focus-within {
        transition: none;
      }

      &:focus-within,
      &:hover {
        height: var(--header-nav-height, auto);
        width: var(--header-nav-on-width, auto);
      }

      .depth1-list {
        display: flex;
        padding-bottom: var(--space-32);
        white-space: nowrap;
      }

      .depth1-list > li {
        flex: 1;
        text-align: center;

        &:hover,
        &.active {
          a.depth1 {
            &::after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              height: 3px;
              background: $bg-black;
            }
          }
        }

        .depth1 {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 71px;
          padding: 0 var(--space-24);
          font-size: 16px;
          font-weight: 700;
          letter-spacing: -0.8px;
          color: $text-primary;
          white-space: nowrap;
          word-break: keep-all;
        }

        .depth2-list {
          display: flex;
          flex-direction: column;
          padding-top: var(--space-20);
          gap: 0;
          width: 100%;

          .depth2 {
            @include font-token($font-body-2);
            display: inline-block;
            padding: var(--space-6) 0;
            line-height: 1.5;
            color: $text-primary;

            &:hover::after {
              content: "";
              display: block;
              width: 100%;
              height: 1px;
              margin-top: -1px;
              background-color: $text-primary;
            }
          }
        }

        .depth3-list {
          display: none;
        }
      }
    }

    .header-actions {
      display: flex;
      align-items: center;
      height: 71px;

      &.contorls {
        order: 3;
      }
    }

    .icon-btn {
      position: relative;
      width: 24px;
      height: 24px;

      &::before,
      &::after {
        content: "";
        position: absolute;
      }
    }

    .icon-menu {
      &::before,
      &::after {
        left: 3px;
        width: 18px;
        height: 2px;
        background: #191b1e;
      }

      &::before {
        top: 6px;
        box-shadow: 0 5px 0 #191b1e;
      }

      &::after {
        bottom: 6px;
      }

      @at-root .header.opened#{&} {
        @include icon("x");

        &::after,
        &::before {
          content: none;
        }
      }
    }

    .header-all-nav {
      display: none;
    }
  }
}

// Tablet
@include respond-md {
  .header {
    .header-inner {
      padding-left: 0;
      padding-right: 0;
      min-width: $page-min-width;

      &::after {
        content: none;
      }

      .header-util {
        display: none;
      }

      .header-gnb {
        width: 100%;
        margin: 0;
        padding: 14px $page-side-sm;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
      }

      .header-logo {
        width: auto;
        height: auto;
        margin: 0 auto 0 0;
        flex-shrink: 0;
        white-space: nowrap;
      }

      .header-top-nav {
        display: none;
      }

      .header-all-nav {
        display: none;
        height: auto;
        position: absolute;
        top: $nav-height-md;
        left: 0;
        right: 0;
        height: calc(100vh - $nav-height-md);
        overflow-y: auto;
        background-color: #fff;
        transform: translateX(100%);
        transition: transform 0.3s ease;

        @at-root .header.opened#{&} {
          display: block;
        }

        &:focus-within,
        &:hover {
          height: calc(100vh - $nav-height-md);
        }

        .depth1-list {
          display: flex;
          flex-direction: column;
          gap: 33px;
          padding-bottom: 0;
        }

        .depth1-list > li {
          &::after {
            content: "";
            position: absolute;
            display: block;
            left: $page-side-sm;
            width: calc(100% - #{$page-side-sm} * 2);
            height: 1px;
            background-color: var(--gray-60);
            margin-top: 16px;
          }

          &:hover,
          &.active {
            a.depth1 {
              &::after {
                content: none;
              }
            }
          }

          .depth1 {
            display: flex;
            position: relative;
            padding: var(--space-16) $page-side-sm;
            justify-content: flex-start;
            align-items: center;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: -0.72px;
            color: var(--text-primary);
          }

          .depth2-list {
            display: flex;
            flex-direction: column;
            gap: 0;
          }

          .depth2-list > li {
            &.active .depth3-list {
              display: flex;
            }

            /* &:not(:focus-within) .depth3-list {
              display: none;
            }
            */

            .depth2 {
              @include font-token($font-body-1-medi);
              display: inline-block;
              position: relative;
              width: 100%;
              padding: var(--space-16) $page-side-sm;
              text-align: left;
              color: var(--text-primary);

              &:hover::after,
              &::after {
                content: "";
                position: absolute;
                right: $page-side-sm;
                top: 50%;
                height: auto;
                margin-top: 0;
                transition: transform 0.3s ease;
                transform: translateY(-50%);
                @include icon("chevron-right-16", 16px);
              }
            }

            &.active .depth2::after {
              transform: translateY(-50%) rotate(-90deg);
            }
          }

          .depth3-list {
            display: none;

            &.active {
              display: block;
            }

            flex-direction: column;
            padding: 0 20px;

            .depth3 {
              @include font-token($font-body-1);
              display: inline-block;
              width: 100%;
              padding: var(--space-12) var(--space-6);
              text-align: left;
              color: var(--gray-500);
            }
          }

          /* .depth3-list > li {
            &.active .depth4-list {
              display: flex;
            }
          } */

          .depth4-list {
            // display: none;
            display: flex; /* 기본 활성화로 */
            flex-direction: column;
            padding: calc(var(--space-20) - var(--space-6)) var(--space-20);
            background-color: var(--gray-20);
            border-radius: var(--radius-16);

            .depth4 {
              @include font-token($font-body-1);
              display: inline-block;
              width: 100%;
              padding: var(--space-6) 0;
              text-align: left;
              color: $text-tertiary;
            }
          }
        }
      }

      .header-actions {
        height: auto;
      }
    }
  }
}
