@use "../abstracts" as *;

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  background-color: #fff;
  z-index: $zindex-header;

  @include respond-md {
    position: fixed;
    overflow: visible;
  }
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-top: $nav-height-lg;
  flex: 1;

  .page {
    display: flex;
    flex-direction: column;
    padding-bottom: $page-bottom-lg;
    min-height: 500px;
  }

  .page > div {
    width: 100%;

    &:not(.full) {
      padding-left: $page-side-lg;
      padding-right: $page-side-lg;
      margin: 0 auto;
      max-width: $page-max-width;

      &:first-child {
        margin-top: $page-top-lg;
      }

      &.title {
        padding-bottom: $page-title-gap-lg;
      }
    }

    &.full {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

#footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background-color: #fff;
}

// Tablet
@include respond-md {
  #container {
    padding-top: $nav-height-md;

    .page {
      min-width: 100%;
      max-width: 100%;
      margin: 0;
      padding-bottom: $page-bottom-md;
    }

    .page > div {
      &:not(.full) {
        padding-left: $page-side-md;
        padding-right: $page-side-md;

        &:first-child {
          margin-top: $page-top-md;
        }

        &.title {
          padding-bottom: $page-title-gap-md;
        }
      }
    }
  }
}

// Mobile
@include respond-sm {
  #container {
    .page {
      min-width: $page-min-width;
      padding-bottom: $page-bottom-sm;
    }

    .page > div {
      &:not(.full) {
        padding-left: $page-side-sm;
        padding-right: $page-side-sm;

        &:first-child {
          margin-top: $page-top-sm;
        }
        
        &.title {
          @include visually-hidden;
        }
      }
    }
  }
}
