@use "../abstracts" as *;

html,
body {
  height: 100%;
}

.skip_nav {
  width: 100%;
  height: 0;

  > a {
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    text-indent: -9999px;

    &:focus {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      padding: var(--space-8) 0;
      background-color: $bg-black;
      color: $text-white;
      text-indent: 0;
      text-align: center;
      z-index: $zindex-skip-nav;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  background-color: #fff;
  z-index: $zindex-header;

  @include respond-md {
    position: fixed;
    overflow: visible;
  }
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-top: $nav-height-lg;
  flex: 1;

  .page {
    display: flex;
    flex-direction: column;
    padding-bottom: $page-bottom-lg;
    min-height: 500px;

    &.no-bottom {
      padding-bottom: 0;
    }
  }

  .page > div {
    width: 100%;

    // 일반 자식 요소
    &:not(.full):not(.loading):not(.floating-btn) {
      // max-width + side * 2 로 전체를 늘린 후 padding 으로 줄이는 방식
      padding-left: $page-side-lg;
      padding-right: $page-side-lg;
      margin: 0 auto;
      max-width: calc($page-max-width + $page-side-lg * 2);

      // 페이지와의 상단 여백
      &:first-child {
        margin-top: $page-top-lg;
      }

      // 타이틀 기본 하단 여백
      &.title {
        padding-bottom: $page-title-gap-lg;
      }
    }

    // 전체 너비 요소
    &.full {
      // 전체는 자식 요소에 padding 주는 방식
      > * {
        width: 100%;
        padding-left: $page-side-lg;
        padding-right: $page-side-lg;
        max-width: calc($page-max-width + $page-side-lg * 2);
      }

      // full 페이지에서 첫번째 자식 요소는 상단 여백이 필요 없으므로 제거
      &:first-child {
        margin-top: 0;
      }

      // full 페이지에서 title 일 때는 가운데 정렬
      &.title {
        text-align: center;
      }
    }
  }
}

#footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background-color: #fff;
}

// Tablet
@include respond-md {
  #container {
    padding-top: $nav-height-md;

    .page {
      min-width: 100%;
      max-width: 100%;
      margin: 0;
      padding-bottom: $page-bottom-md;
    }

    .page > div {
      &:not(.full):not(.loading) {
        padding-left: $page-side-md;
        padding-right: $page-side-md;

        &:first-child {
          margin-top: $page-top-md;
        }

        &.title {
          padding-bottom: $page-title-gap-md;
        }
      }

      &.full {
        > * {
          padding-left: $page-side-md;
          padding-right: $page-side-md;
        }
      }
    }
  }
}

// Mobile
@include respond-sm {
  #container {
    .page {
      min-width: $page-min-width;
      padding-bottom: $page-bottom-sm;
    }

    .page > div {
      &:not(.full):not(.loading) {
        padding-left: $page-side-sm;
        padding-right: $page-side-sm;

        // 타이틀은 숨겨지므로 그 다음 요소가 상단 여백을 가지도록 설정
        &.title:first-child + * {
          margin-top: $page-top-sm;

          // 모바일 페이지 영역 상단 여백 제외 대상 나열
          /* &.search-box,
            &.noti-box,
            &.tab-wrapper {
              margin-top: 0;
            } */
        }

        &.title {
          // @include visually-hidden;
          // padding-bottom: $page-title-gap-sm;
          height: 56px;
          padding: 0 0 0 60px !important;
          margin: 0 !important;
          position: fixed;
          left: 0;
          right: 0;
          top: 0;
          z-index: 1001;          
          width: calc(100% - 64px);
          ._font-headline-1 {
            @include font-token($font-body-0-semi);
            line-height: 56px;
          }
          .btn-back {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            &::before {
              content: '';
              display: block;
              width: 24px;
              height: 24px;
              background: url(#{$icon_url}/arrow-left.svg) no-repeat 0 0 / 100% auto;
            }
          }

        }
      }

      &.full {
        > * {
          padding-left: $page-side-sm;
          padding-right: $page-side-sm;
        }
      }
    }
  }
}

