@use "../abstracts/" as *;

// _base.scss 수정 없이 확장성 있게 오버라이딩

:root {
  // Spacing tokens
  --space-2: 2px;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
}

// typegraphy tokens
@media screen and (max-width: 767px) {
  ._font-title-4 {
    font-size: 16px;
    letter-spacing: -0.64px;
  }
}

// button - child spacing
button[class^="_btn"] {
  gap: var(--space-4);
}

// button - left aligned
._btn-wrap.left {
  justify-content: flex-start;

  [class^="_btn"]:only-child {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

// button - right aligned
._btn-wrap.right {
  justify-content: flex-end;
}

// button - fit content
._btn-wrap.fit {
  > [class^="_btn"] {
    flex-basis: auto;
  }
}

// table - top left
._table.tb-tl {
  th,
  td {
    text-align: left;
    vertical-align: top;

    @include respond-sm {
      @include font-token($font-body-2);
    }
  }

  th {
    padding: var(--space-12) var(--space-20);
  }

  td {
    padding: var(--space-20);
  }

  tbody td > * {
    &[class^="list-"] {
      gap: var(--space-8);
    }

    &:not(:first-child) {
      margin-top: var(--space-20);
    }
  }
}
