@use "../abstracts/" as *;

// _base.scss 수정 없이 확장성 있게 오버라이딩

:root {
  // Spacing tokens
  --space-2: 2px;
  --space-4: 4px;
  --space-6: 6px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-100: 100px;
}

.ui-selectmenu-menu {
  max-width: 100%;
}

// typegraphy tokens
@media screen and (max-width: 767px) {
  ._font-title-4 {
    font-size: 16px;
    letter-spacing: -0.64px;
  }

  ._font-title-1 {
    line-height: 32px;
  }
  ._font-title-2 {
    line-height: 28px;
  }
  ._font-title-3 {
    line-height: 26px;
  }
}

// button - child spacing
button[class^="_btn"] {
  gap: var(--space-4);
}

// button - left aligned
._btn-wrap.left {
  justify-content: flex-start;

  [class^="_btn"]:only-child {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

// button - right aligned
._btn-wrap.right {
  justify-content: flex-end;
}

// button - fit content
._btn-wrap.fit {
  > [class^="_btn"] {
    flex-basis: auto;
  }
}
// button - only button max-size
._btn-wrap [class^="_btn"] {
  max-width: 320px;
  @include respond-sm {
    max-width: none;
  }
}

// clips
[class^="_chip-box"] input + i {
  min-width: 78px;
}
[class^="_chip-box"][class*="-small"] input + i {
  min-width: 62px;
}

// divider-
[class^="_divider-hor"] {
  width: 100%;
}
[class^="_divider-ver"] {
  height: 100%;
}

// tooltip
.tooltip-trigger {
  @include icon("info", 16px);
  background-image: none;
  color: inherit;
}

// table
._table {
  // top left aligned
  &.tb-tl {
    th,
    td {
      text-align: left;
      vertical-align: top;
      padding: var(--space-12) var(--space-20);
    }

    tbody td > * {
      // 디자인 간격 정리하며 제거 - 추후 완전 제거
      /* &[class^="list-"] {
        gap: var(--space-8);
      } */

      &:not(:first-child) {
        margin-top: var(--space-20);
      }
    }
  }

  // tooltip in table
  .tooltip-title {
    display: inline-flex;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    margin-top: -0.1em;

    > button {
      margin-left: 0;
      width: 1em;
      height: 1em;
      font-size: inherit;
    }
  }
}

// popup
[class^="_modal"][class*="-popup"][class*="_type-tooltip"] {
  .desc:first-child {
    margin-top: 0;
    margin-bottom: var(--space-16);
  }
}

// feedback
.feedback-wrap {
  &.no-data {
    &::before {
      background: url(#{$img_url}/common/feedback_nodata.svg) no-repeat 0 0 /
        auto 100%;
    }
  }
  .desc {
    .point {
      color: $text-tertiary;
    }
    .point-red {
      color: $text-warning;
    }
  }
}

// Text Fields 금액 case
.input-box {
  .util-box {
    .suffix {
      @include font-token($font-body-0);
      color: $text-primary;
      white-space: pre;
    }
  }
  input {
    &:disabled {
      + .util-box {
        .suffix {
          color: $text-disabled;
        }
      }
    }
  }
}

// Tooltip / layer 컨텐츠 수평 case
.info-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
.info-hor {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  dt {
    @include font-token($font-body-1-semi);
    color: $text-tertiary;
  }
  dd {
    @include font-token($font-body-2);
    color: $text-tertiary;
  }
  @include respond-sm {
    dt {
      @include font-token($font-body-0-semi);
    }
    dd {
      @include font-token($font-body-1);
    }
  }
}
  